@charset "UTF-8";

/*********************************************
 ********** Block.JS SEE UI Framework **********
 **********   class  _.see.Silder   **********
 *********************************************/


/** Elements Initialization **/


/****************
/*	Common
/************************************************/

.bc.slider .stage {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}

.bc.slider .stage>* {
    display: block;
    position: absolute;
}

.bc.slider .stage .troupe {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 0;
}

.bc.slider .stage .troupe .actor {
    float: left;
    position: relative;
    height: 100%;
    top: 0px;
    z-index: 100;
}

.bc.slider .stage .troupe .actor img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}


/*	UP-DOWN Turner
/*----------------------------------------------*/

.bc.slider .cutter.goto-prev,
.slide .cutter.goto-next {
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.bc.slider .cutter.auto-hide {
    opacity: 0;
}

.bc.slider:hover .cutter.auto-hide {
    opacity: 1;
}


/*---| Three Columns |---*/

.bc.slider .cutter.left-col,
.bc.slider .cutter.right-col,
.bc.slider .cutter.up-col,
.bc.slider .cutter.down-col {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: .8;
    cursor: pointer;
    z-index: 100;
}

.bc.slider .cutter.left-col {
    top: 0px;
    right: 100%;
}

.bc.slider .cutter.right-col {
    top: 0px;
    left: 100%;
}

.bc.slider .cutter.up-col {
    bottom: 100%;
    left: 0;
}

.bc.slider .cutter.down-col {
    top: 100%;
    left: 0;
}


/*---| Previous And Next |---*/

.bc.slider .cutter {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
}

.bc.slider .cutter.left-circle,
.bc.slider .cutter.right-circle,
.bc.slider .cutter.lt-in-circle,
.bc.slider .cutter.gt-in-circle,
.bc.slider .cutter.ll-in-circle,
.bc.slider .cutter.lg-in-circle,
.bc.slider .cutter.bl-in-circle,
.bc.slider .cutter.bg-in-circle {
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
}

.bc.slider .cutter.left-bigcircle,
.bc.slider .cutter.right-bigcircle,
.bc.slider .cutter.lt-in-bigcircle,
.bc.slider .cutter.gt-in-bigcircle,
.bc.slider .cutter.ll-in-bigcircle,
.bc.slider .cutter.lg-in-bigcircle,
.bc.slider .cutter.bl-in-bigcircle,
.bc.slider .cutter.bg-in-bigcircle {
    width: 80px;
    height: 80px;
    top: 50%;
    margin-top: -40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
}

.bc.slider .cutter.lt-in-circle::before,
.bc.slider .cutter.gt-in-circle::before,
.bc.slider .cutter.ll-in-circle::before,
.bc.slider .cutter.lg-in-circle::before,
.bc.slider .cutter.bl-in-circle::before,
.bc.slider .cutter.bg-in-circle::before,
.bc.slider .cutter.lt-in-bigcircle::before,
.bc.slider .cutter.gt-in-bigcircle::before,
.bc.slider .cutter.ll-in-bigcircle::before,
.bc.slider .cutter.lg-in-bigcircle::before,
.bc.slider .cutter.bl-in-bigcircle::before,
.bc.slider .cutter.bg-in-bigcircle::before {
    font-family: FontAwesome;
    display: block;
    width: 110%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.bc.slider .cutter.big-lt,
.bc.slider .cutter.big-gt {
    width: 40px;
    height: 80px;
    top: 50%;
    margin-top: -40px;
    background: transparent;
}

.bc.slider .cutter.big-lt::before,
.bc.slider .cutter.big-gt::before {
    font-family: FontAwesome;
    line-height: 82px;
    font-size: 72px;
    color: rgba(255, 255, 255, 0.8);
}


/*---| Previous |---*/

.bc.slider .cutter.left-circle,
.bc.slider .cutter.left-bigcircle,
.bc.slider .cutter.lt-in-circle,
.bc.slider .cutter.lt-in-bigcircle,
.bc.slider .cutter.ll-in-circle,
.bc.slider .cutter.ll-in-bigcircle,
.bc.slider .cutter.bl-in-circle,
.bc.slider .cutter.bl-in-bigcircle {
    left: 10px;
}

.bc.slider .cutter.lt-in-circle::before,
.bc.slider .cutter.lt-in-bigcircle::before,
.bc.slider .cutter.ll-in-circle::before,
.bc.slider .cutter.ll-in-bigcircle::before,
.bc.slider .cutter.bl-in-circle::before,
.bc.slider .cutter.bl-in-bigcircle::before {
    margin-left: -10%;
}

.bc.slider .cutter.lt-in-circle::before {
    font-size: 24px;
    content: "\f104";
}

.bc.slider .cutter.ll-in-circle::before {
    font-size: 30px;
    content: "<";
}

.bc.slider .cutter.bl-in-circle::before {
    font-size: 21px;
    content: "\f053";
}

.bc.slider .cutter.lt-in-bigcircle::before,
.bc.slider .cutter.ll-in-bigcircle::before,
.bc.slider .cutter.bl-in-bigcircle::before {
    line-height: 82px;
}

.bc.slider .cutter.lt-in-bigcircle::before {
    font-size: 48px;
    content: "\f104";
}

.bc.slider .cutter.ll-in-bigcircle::before {
    font-size: 60px;
    content: "<";
}

.bc.slider .cutter.bl-in-bigcircle::before {
    font-size: 36px;
    content: "\f053";
}

.bc.slider .cutter.big-lt {
    text-align: left;
    left: 10px;
}

.bc.slider .cutter.big-lt:before {
    text-align: left;
    content: "\f104";
}


/*---| Next |---*/

.bc.slider .cutter.right-circle,
.bc.slider .cutter.right-bigcircle,
.bc.slider .cutter.gt-in-circle,
.bc.slider .cutter.gt-in-bigcircle,
.bc.slider .cutter.lg-in-circle,
.bc.slider .cutter.lg-in-bigcircle,
.bc.slider .cutter.bg-in-circle,
.bc.slider .cutter.bg-in-bigcircle {
    right: 10px;
}

.bc.slider .cutter.gt-in-circle::before {
    font-size: 24px;
    content: "\f105";
}

.bc.slider .cutter.lg-in-circle::before {
    font-size: 30px;
    content: ">";
}

.bc.slider .cutter.bg-in-circle::before {
    font-size: 21px;
    content: "\f054";
}

.bc.slider .cutter.gt-in-bigcircle::before,
.bc.slider .cutter.lg-in-bigcircle::before,
.bc.slider .cutter.bg-in-bigcircle::before {
    line-height: 82px;
}

.bc.slider .cutter.gt-in-bigcircle::before {
    font-size: 48px;
    content: "\f105";
}

.bc.slider .cutter.lg-in-bigcircle::before {
    font-size: 60px;
    content: ">";
}

.bc.slider .cutter.bg-in-bigcircle::before {
    font-size: 36px;
    content: "\f054";
}

.bc.slider .cutter.big-gt {
    text-align: right;
    right: 10px;
}

.bc.slider .cutter.big-gt:before {
    text-align: right;
    content: "\f105";
}


/*
 * Panel Position
 * 面板位置
 */

.bc.slider .panel {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 999;
    font-size: 0px;
    box-sizing: border-box;
}

.bc.slider .panel.upon-remote {
    top: 0px;
    text-align: right;
}

.bc.slider .panel.top-remote {
    top: 0px;
    text-align: right;
}

.bc.slider .panel.middle-remote {
    top: 50%;
    margin-top: -50px;
    text-align: right;
}

.bc.slider .panel.bottom-remote {
    bottom: 0px;
    text-align: right;
}

.bc.slider .panel.under-remote {
    bottom: -30px;
    text-align: center;
}


/*
 * Buttons Position
 * 按钮位置
 */

.bc.slider .panel.panel.al-left {
    left: 0;
    right: auto;
    text-align: left;
}

.bc.slider .panel.panel.al-right {
    left: auto;
    right: 0;
    text-align: right;
}

.bc.slider .panel.panel.al-center {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.bc.slider .panel.panel.al-just {
    left: 0;
    right: 0;
    text-align: justify;
}

.bc.slider .panel.middle-remote.al-center,
.bc.slider .panel.middle-remote.al-just {
    display: none !important;
}


/*
 * Buttons Style
 * 按钮样式
 */


/*---| 圆/点/圈 |---*/


/*- circles -*/

.bc.slider .panel.circles {
    height: 40px;
}

.bc.slider .panel.circles.al-left {
    padding-left: 10px;
}

.bc.slider .panel.circles.al-right {
    padding-right: 10px;
}

.bc.slider .panel.circles .slider-anchor {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 8px 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    opacity: .8;
}


/*- points -*/

.bc.slider .panel.points {
    height: 30px;
}

.bc.slider .panel.points.al-left {
    padding-left: 10px;
}

.bc.slider .panel.points.al-right {
    padding-right: 10px;
}

.bc.slider .panel.points .slider-anchor {
    display: inline-block;
    opacity: .8;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin: 9px 5px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}


/*- rings -*/

.bc.slider .panel.rings {
    height: 40px;
}

.bc.slider .panel.rings.al-left,
.bc.slider .panel.rings-sm.al-left {
    padding-left: 10px;
}

.bc.slider .panel.rings.al-right,
.bc.slider .panel.rings-sm.al-right {
    padding-right: 10px;
}

.bc.slider .panel.rings .slider-anchor,
.bc.slider .panel.rings-sm .slider-anchor {
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 10px 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}


/*- small rings -*/

.bc.slider .panel.rings-sm {
    height: 30px;
}

.bc.slider .panel.rings-sm .slider-anchor {
    width: 10px;
    height: 10px;
    margin: 10px 5px;
    border-width: 1px;
    border-radius: 5px;
}


/*---| 方形 |---*/


/*- square -*/

.bc.slider .panel.squares {
    height: 30px;
}

.bc.slider .panel.squares.al-left,
.bc.slider .panel.squares-rd.al-left {
    padding-left: 10px;
}

.bc.slider .panel.squares.al-right,
.bc.slider .panel.squares-rd.al-right {
    padding-right: 10px;
}

.bc.slider .panel.squares .slider-anchor,
.bc.slider .panel.squares-rd .slider-anchor {
    display: inline-block;
    width: 10px;
    height: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 5px;
}


/*- rounded square -*/

.bc.slider .panel.squares-rd {
    height: 40px;
}

.bc.slider .panel.squares-rd .slider-anchor {
    width: 16px;
    height: 16px;
    margin: 12px 6px;
    border-radius: 3px;
}


/*- rectangles -*/

.bc.slider .panel.rectangles {
    height: 30px;
}

.bc.slider .panel.rectangles.al-left,
.bc.slider .panel.rectangles-rd.al-left {
    padding-left: 10px;
}

.bc.slider .panel.rectangles.al-right,
.bc.slider .panel.rectangles-rd.al-right {
    padding-right: 10px;
}

.bc.slider .panel.rectangles .slider-anchor,
.bc.slider .panel.rectangles-rd .slider-anchor {
    display: inline-block;
    width: 16px;
    height: 10px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px 6px;
}


/*- round rectangles -*/

.bc.slider .panel.rectangles-rd .slider-anchor {
    border-radius: 3px;
}


/*---| 条状 |---*/


/*- bars -*/

.bc.slider .panel.bars,
.bc.slider .panel.bars-rd {
    height: 30px;
}

.bc.slider .panel.bars.al-left,
.bc.slider .panel.bars-rd.al-left {
    padding-left: 10px;
}

.bc.slider .panel.bars.al-right,
.bc.slider .panel.bars-rd.al-right {
    padding-right: 10px;
}

.bc.slider .panel.bars .slider-anchor,
.bc.slider .panel.bars-rd .slider-anchor {
    display: inline-block;
    width: 24px;
    height: 6px;
    overflow: hidden;
    cursor: pointer;
    margin: 12px 3px;
}


/*- rounded bars -*/

.bc.slider .panel.bars-rd .slider-anchor {
    border-radius: 3px;
}


/*---| 线形 |---*/


/*- lines -*/

.bc.slider .panel.lines,
.bc.slider .panel.lines-wb {
    height: 30px;
}

.bc.slider .panel.lines.al-left,
.bc.slider .panel.lines-wb.al-left {
    padding-left: 10px;
}

.bc.slider .panel.lines.al-right,
.bc.slider .panel.lines-wb.al-right {
    padding-right: 10px;
}

.bc.slider .panel.lines .slider-anchor,
.bc.slider .panel.lines-wb .slider-anchor {
    display: inline-block;
    width: 50px;
    height: 1px;
    overflow: hidden;
    cursor: pointer;
    margin: 12px 5px;
}

.bc.slider .panel.lines-wb .slider-anchor {
    border-style: solid;
    border-width: 1px;
}


/*- lines with border -*/

.bc.slider .panel.lines-wb .slider-anchor.active {
    width: 48px;
    height: 1px;
}


/*---| 索引 |---*/


/*- context -*/


/*- thumbs -*/

.bc.slider .panel.context,
.bc.slider .panel.thumbs {
    width: 100%;
    height: 50px;
}

.bc.slider .panel.thumbs {
    height: 80px;
    font-size: 0;
}

.bc.slider .panel.context.middle-remote,
.bc.slider .panel.thumbs.middle-remote {
    width: 200px;
    height: 100%;
    top: 0;
    margin-top: 0;
    box-sizing: content-box;
}

.bc.slider .panel.thumbs.middle-remote {
    width: 160px;
}

.bc.slider .panel.context .slider-anchor,
.bc.slider .panel.thumbs .slider-anchor {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    border-top: rgba(255, 255, 255, 0.5) solid 1px;
    border-right: rgba(255, 255, 255, 0.5) solid 1px;
    line-height: 50px;
    font-size: 14px;
    transition: background-color ease-in .3s;
    overflow: hidden;
    cursor: pointer;
}

.bc.slider .panel.context.middle-remote .slider-anchor,
.bc.slider .panel.thumbs.middle-remote .slider-anchor {
    width: 100%;
    height: auto;
    display: block;
}


/*
 * Anchor Colors
 * 閿氱偣棰滆壊
 */


/**** TYPES ****/


/* Without Border **/

.bc.slider .panel.bars .slider-anchor,
.bc.slider .panel.bars-rd .slider-anchor,
.bc.slider .panel.rectangles .slider-anchor,
.bc.slider .panel.squares .slider-anchor,
.bc.slider .panel.squares-rd .slider-anchor,
.bc.slider .panel.points .slider-anchor,
.bc.slider .panel.lines .slider-anchor {
    background-color: #DDD;
}


/* Circles */

.bc.slider .panel.circles .slider-anchor {
    background-color: #DDD;
    border-color: #DDD;
}


/* With Border */

.bc.slider .panel.lines-wb .slider-anchor,
.bc.slider .panel.rings .slider-anchor,
.bc.slider .panel.rings-sm .slider-anchor {
    background-color: transparent;
    border-color: #888;
}


/**** COLOURS ****/


/* default:gray */

.bc.slider .panel.squares .slider-anchor.active,
.bc.slider .panel.squares-rd .slider-anchor.active,
.bc.slider .panel.rectangles .slider-anchor.active,
.bc.slider .panel.bars .slider-anchor.active,
.bc.slider .panel.bars-rd .slider-anchor.active,
.bc.slider .panel.points .slider-anchor.active,
.bc.slider .panel.lines .slider-anchor.active,
.bc.slider .panel.rings .slider-anchor:hover,
.bc.slider .panel.rings-sm .slider-anchor:hover {
    background-color: #888;
}

.bc.slider .panel.circles .slider-anchor.active,
.bc.slider .panel.lines-wb .slider-anchor.active,
.bc.slider .panel.rings .slider-anchor.active,
.bc.slider .panel.rings-sm .slider-anchor.active {
    background-color: #888;
    border-color: #888;
}


/* red */

.bc.slider .panel.red.squares .slider-anchor.active,
.bc.slider .panel.red.squares-rd .slider-anchor.active,
.bc.slider .panel.red.rectangles .slider-anchor.active,
.bc.slider .panel.red.bars .slider-anchor.active,
.bc.slider .panel.red.bars-rd .slider-anchor.active,
.bc.slider .panel.red.points .slider-anchor.active,
.bc.slider .panel.red.lines .slider-anchor.active,
.bc.slider .panel.red.rings .slider-anchor:hover,
.bc.slider .panel.red.rings-sm .slider-anchor:hover {
    background-color: #F03;
}

.bc.slider .panel.red.circles .slider-anchor.active,
.bc.slider .panel.red.lines-wb .slider-anchor.active,
.bc.slider .panel.red.rings .slider-anchor.active,
.bc.slider .panel.red.rings-sm .slider-anchor.active {
    background-color: #FCC;
    border-color: #F03;
}


/* orange */

.bc.slider .panel.orange.squares .slider-anchor.active,
.bc.slider .panel.orange.squares-rd .slider-anchor.active,
.bc.slider .panel.orange.rectangles .slider-anchor.active,
.bc.slider .panel.orange.bars .slider-anchor.active,
.bc.slider .panel.orange.bars-rd .slider-anchor.active,
.bc.slider .panel.orange.points .slider-anchor.active,
.bc.slider .panel.orange.lines .slider-anchor.active,
.bc.slider .panel.orange.rings .slider-anchor:hover,
.bc.slider .panel.orange.rings-sm .slider-anchor:hover {
    background-color: #F60;
}

.bc.slider .panel.orange.circles .slider-anchor.active,
.bc.slider .panel.orange.lines-wb .slider-anchor.active,
.bc.slider .panel.orange.rings .slider-anchor.active,
.bc.slider .panel.orange.rings-sm .slider-anchor.active {
    background-color: #FC9;
    border-color: #F60;
}


/* brown */

.bc.slider .panel.brown.squares .slider-anchor.active,
.bc.slider .panel.brown.squares-rd .slider-anchor.active,
.bc.slider .panel.brown.rectangles .slider-anchor.active,
.bc.slider .panel.brown.bars .slider-anchor.active,
.bc.slider .panel.brown.bars-rd .slider-anchor.active,
.bc.slider .panel.brown.points .slider-anchor.active,
.bc.slider .panel.brown.lines .slider-anchor.active,
.bc.slider .panel.brown.rings .slider-anchor:hover,
.bc.slider .panel.brown.rings-sm .slider-anchor:hover {
    background-color: #C93;
}

.bc.slider .panel.brown.circles .slider-anchor.active,
.bc.slider .panel.brown.lines-wb .slider-anchor.active,
.bc.slider .panel.brown.rings .slider-anchor.active,
.bc.slider .panel.brown.rings-sm .slider-anchor.active {
    background-color: #FC9;
    border-color: #C93;
}


/* yellow */

.bc.slider .panel.yellow.squares .slider-anchor.active,
.bc.slider .panel.yellow.squares-rd .slider-anchor.active,
.bc.slider .panel.yellow.rectangles .slider-anchor.active,
.bc.slider .panel.yellow.bars .slider-anchor.active,
.bc.slider .panel.yellow.bars-rd .slider-anchor.active,
.bc.slider .panel.yellow.points .slider-anchor.active,
.bc.slider .panel.yellow.lines .slider-anchor.active,
.bc.slider .panel.yellow.rings .slider-anchor:hover,
.bc.slider .panel.yellow.rings-sm .slider-anchor:hover {
    background-color: #CC0;
}

.bc.slider .panel.yellow.circles .slider-anchor.active,
.bc.slider .panel.yellow.lines-wb .slider-anchor.active,
.bc.slider .panel.yellow.rings .slider-anchor.active,
.bc.slider .panel.yellow.rings-sm .slider-anchor.active {
    background-color: #FFC;
    border-color: #CC0;
}


/* green */

.bc.slider .panel.green.squares .slider-anchor.active,
.bc.slider .panel.green.squares-rd .slider-anchor.active,
.bc.slider .panel.green.rectangles .slider-anchor.active,
.bc.slider .panel.green.bars .slider-anchor.active,
.bc.slider .panel.green.bars-rd .slider-anchor.active,
.bc.slider .panel.green.points .slider-anchor.active,
.bc.slider .panel.green.lines .slider-anchor.active,
.bc.slider .panel.green.rings .slider-anchor:hover,
.bc.slider .panel.green.rings-sm .slider-anchor:hover {
    background-color: #6C6;
}

.bc.slider .panel.green.circles .slider-anchor.active,
.bc.slider .panel.green.lines-wb .slider-anchor.active,
.bc.slider .panel.green.rings .slider-anchor.active,
.bc.slider .panel.green.rings-sm .slider-anchor.active {
    background-color: #CFC;
    border-color: #6C6;
}


/* darkgreen */

.bc.slider .panel.darkgreen.squares .slider-anchor.active,
.bc.slider .panel.darkgreen.squares-rd .slider-anchor.active,
.bc.slider .panel.darkgreen.rectangles .slider-anchor.active,
.bc.slider .panel.darkgreen.bars .slider-anchor.active,
.bc.slider .panel.darkgreen.bars-rd .slider-anchor.active,
.bc.slider .panel.darkdarkgreen.points .slider-anchor.active,
.bc.slider .panel.darkgreen.lines .slider-anchor.active,
.bc.slider .panel.darkgreen.rings .slider-anchor:hover,
.bc.slider .panel.darkgreen.rings-sm .slider-anchor:hover {
    background-color: #090;
}

.bc.slider .panel.darkgreen.circles .slider-anchor.active,
.bc.slider .panel.darkgreen.lines-wb .slider-anchor.active,
.bc.slider .panel.darkgreen.rings .slider-anchor.active,
.bc.slider .panel.darkgreen.rings-sm .slider-anchor.active {
    background-color: #CFC;
    border-color: #090;
}


/* cyan */

.bc.slider .panel.cyan.squares .slider-anchor.active,
.bc.slider .panel.cyan.squares-rd .slider-anchor.active,
.bc.slider .panel.cyan.rectangles .slider-anchor.active,
.bc.slider .panel.cyan.bars .slider-anchor.active,
.bc.slider .panel.cyan.bars-rd .slider-anchor.active,
.bc.slider .panel.cyan.points .slider-anchor.active,
.bc.slider .panel.cyan.lines .slider-anchor.active,
.bc.slider .panel.cyan.rings .slider-anchor:hover,
.bc.slider .panel.cyan.rings-sm .slider-anchor:hover {
    background-color: #6CF;
}

.bc.slider .panel.cyan.circles .slider-anchor.active,
.bc.slider .panel.cyan.lines-wb .slider-anchor.active,
.bc.slider .panel.cyan.rings .slider-anchor.active,
.bc.slider .panel.cyan.rings-sm .slider-anchor.active {
    background-color: #CFF;
    border-color: #6CF;
}


/* blue */

.bc.slider .panel.blue.squares .slider-anchor.active,
.bc.slider .panel.blue.squares-rd .slider-anchor.active,
.bc.slider .panel.blue.rectangles .slider-anchor.active,
.bc.slider .panel.blue.bars .slider-anchor.active,
.bc.slider .panel.blue.bars-rd .slider-anchor.active,
.bc.slider .panel.blue.points .slider-anchor.active,
.bc.slider .panel.blue.lines .slider-anchor.active,
.bc.slider .panel.blue.rings .slider-anchor:hover,
.bc.slider .panel.blue.rings-sm .slider-anchor:hover {
    background-color: #08F;
}

.bc.slider .panel.blue.circles .slider-anchor.active,
.bc.slider .panel.blue.lines-wb .slider-anchor.active,
.bc.slider .panel.blue.rings .slider-anchor.active,
.bc.slider .panel.blue.rings-sm .slider-anchor.active {
    background-color: #6FF;
    border-color: #08F;
}


/* darkblue */

.bc.slider .panel.darkblue.squares .slider-anchor.active,
.bc.slider .panel.darkblue.squares-rd .slider-anchor.active,
.bc.slider .panel.darkblue.rectangles .slider-anchor.active,
.bc.slider .panel.darkblue.bars .slider-anchor.active,
.bc.slider .panel.darkblue.bars-rd .slider-anchor.active,
.bc.slider .panel.darkblue.points .slider-anchor.active,
.bc.slider .panel.darkblue.lines .slider-anchor.active,
.bc.slider .panel.darkblue.rings .slider-anchor:hover,
.bc.slider .panel.darkblue.rings-sm .slider-anchor:hover {
    background-color: #038;
}

.bc.slider .panel.darkblue.circles .slider-anchor.active,
.bc.slider .panel.darkblue.lines-wb .slider-anchor.active,
.bc.slider .panel.darkblue.rings .slider-anchor.active,
.bc.slider .panel.darkblue.rings-sm .slider-anchor.active {
    background-color: #6CF;
    border-color: #038;
}


/* purple */

.bc.slider .panel.purple.squares .slider-anchor.active,
.bc.slider .panel.purple.squares-rd .slider-anchor.active,
.bc.slider .panel.purple.rectangles .slider-anchor.active,
.bc.slider .panel.purple.bars .slider-anchor.active,
.bc.slider .panel.purple.bars-rd .slider-anchor.active,
.bc.slider .panel.purple.points .slider-anchor.active,
.bc.slider .panel.purple.lines .slider-anchor.active,
.bc.slider .panel.purple.rings .slider-anchor:hover,
.bc.slider .panel.purple.rings-sm .slider-anchor:hover {
    background-color: #D0C;
}

.bc.slider .panel.purple.circles .slider-anchor.active,
.bc.slider .panel.purple.lines-wb .slider-anchor.active,
.bc.slider .panel.purple.rings .slider-anchor.active,
.bc.slider .panel.purple.rings-sm .slider-anchor.active {
    background-color: #FCE;
    border-color: #D0C;
}


/* magenta */

.bc.slider .panel.magenta.squares .slider-anchor.active,
.bc.slider .panel.magenta.squares-rd .slider-anchor.active,
.bc.slider .panel.magenta.rectangles .slider-anchor.active,
.bc.slider .panel.magenta.bars .slider-anchor.active,
.bc.slider .panel.magenta.bars-rd .slider-anchor.active,
.bc.slider .panel.magenta.points .slider-anchor.active,
.bc.slider .panel.magenta.lines .slider-anchor.active,
.bc.slider .panel.magenta.rings .slider-anchor:hover,
.bc.slider .panel.magenta.rings-sm .slider-anchor:hover {
    background-color: #F07;
}

.bc.slider .panel.magenta.circles .slider-anchor.active,
.bc.slider .panel.magenta.lines-wb .slider-anchor.active,
.bc.slider .panel.magenta.rings .slider-anchor.active,
.bc.slider .panel.magenta.rings-sm .slider-anchor.active {
    background-color: #F9C;
    border-color: #F07;
}


/* pink */

.bc.slider .panel.pink.squares .slider-anchor.active,
.bc.slider .panel.pink.squares-rd .slider-anchor.active,
.bc.slider .panel.pink.rectangles .slider-anchor.active,
.bc.slider .panel.pink.bars .slider-anchor.active,
.bc.slider .panel.pink.bars-rd .slider-anchor.active,
.bc.slider .panel.pink.points .slider-anchor.active,
.bc.slider .panel.pink.lines .slider-anchor.active,
.bc.slider .panel.pink.rings .slider-anchor:hover,
.bc.slider .panel.pink.rings-sm .slider-anchor:hover {
    background-color: #F69;
}

.bc.slider .panel.pink.circles .slider-anchor.active,
.bc.slider .panel.pink.lines-wb .slider-anchor.active,
.bc.slider .panel.pink.rings .slider-anchor.active,
.bc.slider .panel.pink.rings-sm .slider-anchor.active {
    background-color: #F9F;
    border-color: #F69;
}


/* white */

.bc.slider .panel.white.squares .slider-anchor.active,
.bc.slider .panel.white.squares-rd .slider-anchor.active,
.bc.slider .panel.white.rectangles .slider-anchor.active,
.bc.slider .panel.white.bars .slider-anchor.active,
.bc.slider .panel.white.bars-rd .slider-anchor.active,
.bc.slider .panel.white.points .slider-anchor.active,
.bc.slider .panel.white.lines .slider-anchor.active,
.bc.slider .panel.white.rings .slider-anchor:hover,
.bc.slider .panel.white.rings-sm .slider-anchor:hover {
    background-color: #FFF;
}

.bc.slider .panel.white.circles .slider-anchor.active,
.bc.slider .panel.white.lines-wb .slider-anchor.active,
.bc.slider .panel.white.rings .slider-anchor.active,
.bc.slider .panel.white.rings-sm .slider-anchor.active {
    background-color: #DDD;
    border-color: #FFF;
}


/* dark */

.bc.slider .panel.dark.squares .slider-anchor.active,
.bc.slider .panel.dark.squares-rd .slider-anchor.active,
.bc.slider .panel.dark.rectangles .slider-anchor.active,
.bc.slider .panel.dark.bars .slider-anchor.active,
.bc.slider .panel.dark.bars-rd .slider-anchor.active,
.bc.slider .panel.dark.points .slider-anchor.active,
.bc.slider .panel.dark.lines .slider-anchor.active,
.bc.slider .panel.dark.rings .slider-anchor:hover,
.bc.slider .panel.dark.rings-sm .slider-anchor:hover {
    background-color: #333;
}

.bc.slider .panel.dark.circles .slider-anchor.active,
.bc.slider .panel.dark.lines-wb .slider-anchor.active,
.bc.slider .panel.dark.rings .slider-anchor.active,
.bc.slider .panel.dark.rings-sm .slider-anchor.active {
    background-color: #666;
    border-color: #333;
}


/* black */

.bc.slider .panel.black.squares .slider-anchor.active,
.bc.slider .panel.black.squares-rd .slider-anchor.active,
.bc.slider .panel.black.rectangles .slider-anchor.active,
.bc.slider .panel.black.bars .slider-anchor.active,
.bc.slider .panel.black.bars-rd .slider-anchor.active,
.bc.slider .panel.black.points .slider-anchor.active,
.bc.slider .panel.black.lines .slider-anchor.active,
.bc.slider .panel.black.rings .slider-anchor:hover,
.bc.slider .panel.black.rings-sm .slider-anchor:hover {
    background-color: #000;
}

.bc.slider .panel.black.circles .slider-anchor.active,
.bc.slider .panel.black.lines-wb .slider-anchor.active,
.bc.slider .panel.black.rings .slider-anchor.active,
.bc.slider .panel.black.rings-sm .slider-anchor.active {
    background-color: #666;
    border-color: #000;
}


/**** Only Border ****/

.bc.slider.colx3 .cutter {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: .8;
    cursor: pointer;
    z-index: 100;
}

.bc.slider.colx3 .cutter.goto-prev {
    top: 0px;
    right: 100%;
}

.bc.slider.colx3 .cutter.goto-next {
    top: 0px;
    left: 100%;
}


/*# sourceMappingURL=style.css.map */