<div class="clause-section">
  <p>这些许可条款是 TANGRAM TEK Co.,Ltd（或您所在地的 TANGRAM TEK Co.,Ltd 关联公司）与您之间达成的协议。请阅读条款内容。这些条款适用于上述软件，包括您用来接收该软件的介质（如有）。这些条款也适用于 TANGRAM TEK为该软件提供的任何</p>
  <ul class="clause-item-break">
    <li>更新（包括但不限于：错误修正程序、补丁程序、更新、升级、增强、新版软件和后续软件，这些内容统称为“更新”），</li>
    <li>补充程序，</li>
    <li>基于 Internet 的服务和</li>
    <li>支持服务</li>
  </ul>
  （除非这些项目附带有其他条款）。如果确实附带有其他条款，应遵守那些条款。 </div>
<div class="clause-section">
  <p>使用该软件，即表示您接受这些条款。如果您不接受这些条款，请不要使用该软件。</p>
</div>
<div class="clause-section">
  <p>如下所述，安装该软件也表示您同意传输某些标准计算机信息，并同意自动在您的服务器上下载和安装更新。</p>
</div>
<div class="clause-section">
  <p>如果您遵守这些许可条款，您将拥有以下权利。</p>
</div>
<div class="clause-section">
  <ol>
    <li class="clause-item">
      <p>安装和使用权利。您可以安装和使用该软件。</p>
    </li>
    <li>
      <p>基于 INTERNET 的服务。TANGRAM TEK随该软件提供基于 Internet 的服务，但可能随时更改或取消这些服务。</p>
    </li>
    <li class="clause-item">
      <p>许可范围。该软件只授予使用许可，不允许出售。本协议只授予您使用该软件的某些权利。TANGRAM TEK保留所有其他权利。除非适用的法律赋予您此项限制之外的权利，否则您只能在本协议明示允许的范围内使用该软件。在按规定使用该软件时，您必须遵守软件中的所有技术限制，这些限制只允许您以特定方式使用该软件。您不得</p>
      <ul class="clause-item-break">
        <li>绕过该软件中的任何技术限制；</li>
        <li>发布本软件供他人复制；</li>
        <li>出租、租赁或出借本软件；或</li>
        <li>将该软件或本协议转让给任何第三方。</li>
      </ul>
    </li>
    <li class="clause-item">
      <p>自动更新。该软件包含自动更新功能并且默认开启此功能。有关此功能的详细信息，包括关于如何关闭该功能的说明，请访问 support.yangram.com/about/update/。您可以在运行该软件时关闭此功能（以下简称“选择禁用”）。除非您明确选择禁用此功能，否则此功能将</p>
      <ul class="clause-item-break">
        <li>通过 Internet 连接到 TANGRAM TEK或服务提供商的计算机系统；</li>
        <li>通过 Internet 协议向相应系统发送标准计算机信息，例如您的计算机的 Internet 协议地址、操作系统类型、浏览器及您使用的软件的名称和版本、安装该软件的设备的语言代码等；以及 </li>
        <li>自动下载和安装，或提示您下载和（或）安装该软件的当前更新。某些情况下，在此功能开始发生作用之前，您不会另外收到通知。安装该软件即表明您同意传输标准计算机信息，并同意自动下载和安装更新。</li>
      </ul>
    </li>
    <li class="clause-item">
      <p>支持服务。TANGRAM TEK为该软件提供支持服务，具体如 support.TANGRAM.com/about/service/ 中所述。</p>
    </li>
    <li class="clause-item">
      <p>完整协议。本协议以及您使用的补充、更新、基于 Internet 的服务和支持服务的有关条款，共同构成了该软件和支持服务的完整协议。</p>
    </li>
    <li class="clause-item">
      <p>适用法律。无论您在任何国家/地区购买该软件，则应遵守该国家/地区的法律。</p>
    </li>
    <li class="clause-item">
      <p>法律效力。本协议规定了某些合法权利。根据您所在国家/地区的法律规定，您可能享有其他权利。您还可能享有与您的软件卖方相关的权利。如果您所在国家/地区的法律不允许本协议改变您所在国家/地区法律赋予您的权利，则本协议将不改变您按照所在国家/地区的法律应享有的权利。</p>
    </li>
    <li class="clause-item">
      <p>免责声明。该软件按“现状”授予许可。您须自行承担使用该软件的风险。TANGRAM TEK不提供任何明示的保证、保障或条件。根据您当地的法律，您可能享有本协议无法改变的其他消费者权利。在您当地法律允许的范围内，TANGRAM TEK排除有关适销性、针对特定目的的适用性和不侵权的默示保证。</p>
    </li>
    <li class="clause-item">
      <p>害赔偿责任的限制和排除条款。您只能因直接损害从 TANGRAM TEK及其供应商处获得退款，且退款金额上限为 RMB 7.00 Yuan。您不能因其他任何损害获得赔偿，包括后果性损害、利润损失、特别的损害、间接损害或附带损害。该限制适用于:</p>
      <ul class="clause-item-break">
        <li>与第三方 Internet 站点上的软件、服务、内容（包括代码）或第三方程序相关的任何情况；以及</li>
        <li>在适用的法律允许的范围内，因违约、违反保证、保障或条件、严格责任、过失或其他侵权行为引起的索赔。</li>
      </ul>
      即使 TANGRAM TEK知道或应该知道可能会出现损害，此项限制也同样适用。由于您所在国家/地区可能不允许排除或限制附带性损害、后果性损害或其他损害的赔偿责任，因此上述限制或排除条款可能对您不适用。 </li>
  </ol>
</div>
