@charset "UTF-8";
/*********************************************
 ********** iBlock See UI Framework **********
 **********   class  _.see.Silder   **********
 *********************************************/
/** Elements Initialization **/
/****************
/*	Common
/************************************************/
.ic.slider .stage {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  display: block; }

.ic.slider .stage > * {
  display: block;
  position: absolute; }

.ic.slider .stage .troupe {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  z-index: 0; }

.ic.slider .stage .troupe .actor {
  float: left;
  position: relative;
  height: 100%;
  top: 0px;
  z-index: 100; }

.ic.slider .stage .troupe .actor img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%; }

/*	UP-DOWN Turner
/*----------------------------------------------*/
.ic.slider .cutter.goto-prev,
.slide .cutter.goto-next {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.ic.slider .cutter.auto-hide {
  opacity: 0; }

.ic.slider:hover .cutter.auto-hide {
  opacity: 1; }

/*---| Three Columns |---*/
.ic.slider .cutter.left-col,
.ic.slider .cutter.right-col,
.ic.slider .cutter.up-col,
.ic.slider .cutter.down-col {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: .8;
  cursor: pointer;
  z-index: 100; }

.ic.slider .cutter.left-col {
  top: 0px;
  right: 100%; }

.ic.slider .cutter.right-col {
  top: 0px;
  left: 100%; }

.ic.slider .cutter.up-col {
  bottom: 100%;
  left: 0; }

.ic.slider .cutter.down-col {
  top: 100%;
  left: 0; }

/*---| Previous And Next |---*/
.ic.slider .cutter {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 999; }

.ic.slider .cutter.left-circle,
.ic.slider .cutter.right-circle,
.ic.slider .cutter.lt-in-circle,
.ic.slider .cutter.gt-in-circle,
.ic.slider .cutter.ll-in-circle,
.ic.slider .cutter.lg-in-circle,
.ic.slider .cutter.bl-in-circle,
.ic.slider .cutter.bg-in-circle {
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6); }

.ic.slider .cutter.left-bigcircle,
.ic.slider .cutter.right-bigcircle,
.ic.slider .cutter.lt-in-bigcircle,
.ic.slider .cutter.gt-in-bigcircle,
.ic.slider .cutter.ll-in-bigcircle,
.ic.slider .cutter.lg-in-bigcircle,
.ic.slider .cutter.bl-in-bigcircle,
.ic.slider .cutter.bg-in-bigcircle {
  width: 80px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6); }

.ic.slider .cutter.lt-in-circle::before,
.ic.slider .cutter.gt-in-circle::before,
.ic.slider .cutter.ll-in-circle::before,
.ic.slider .cutter.lg-in-circle::before,
.ic.slider .cutter.bl-in-circle::before,
.ic.slider .cutter.bg-in-circle::before,
.ic.slider .cutter.lt-in-bigcircle::before,
.ic.slider .cutter.gt-in-bigcircle::before,
.ic.slider .cutter.ll-in-bigcircle::before,
.ic.slider .cutter.lg-in-bigcircle::before,
.ic.slider .cutter.bl-in-bigcircle::before,
.ic.slider .cutter.bg-in-bigcircle::before {
  font-family: FontAwesome;
  display: block;
  width: 110%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  line-height: 42px;
  text-align: center;
  text-decoration: none;
  color: #FFF; }

.ic.slider .cutter.big-lt,
.ic.slider .cutter.big-gt {
  width: 40px;
  height: 80px;
  top: 50%;
  margin-top: -40px;
  background: transparent; }

.ic.slider .cutter.big-lt::before,
.ic.slider .cutter.big-gt::before {
  font-family: FontAwesome;
  line-height: 82px;
  font-size: 72px;
  color: rgba(255, 255, 255, 0.8); }

/*---| Previous |---*/
.ic.slider .cutter.left-circle,
.ic.slider .cutter.left-bigcircle,
.ic.slider .cutter.lt-in-circle,
.ic.slider .cutter.lt-in-bigcircle,
.ic.slider .cutter.ll-in-circle,
.ic.slider .cutter.ll-in-bigcircle,
.ic.slider .cutter.bl-in-circle,
.ic.slider .cutter.bl-in-bigcircle {
  left: 10px; }

.ic.slider .cutter.lt-in-circle::before,
.ic.slider .cutter.lt-in-bigcircle::before,
.ic.slider .cutter.ll-in-circle::before,
.ic.slider .cutter.ll-in-bigcircle::before,
.ic.slider .cutter.bl-in-circle::before,
.ic.slider .cutter.bl-in-bigcircle::before {
  margin-left: -10%; }

.ic.slider .cutter.lt-in-circle::before {
  font-size: 24px;
  content: "\f104"; }

.ic.slider .cutter.ll-in-circle::before {
  font-size: 30px;
  content: "<"; }

.ic.slider .cutter.bl-in-circle::before {
  font-size: 21px;
  content: "\f053"; }

.ic.slider .cutter.lt-in-bigcircle::before,
.ic.slider .cutter.ll-in-bigcircle::before,
.ic.slider .cutter.bl-in-bigcircle::before {
  line-height: 82px; }

.ic.slider .cutter.lt-in-bigcircle::before {
  font-size: 48px;
  content: "\f104"; }

.ic.slider .cutter.ll-in-bigcircle::before {
  font-size: 60px;
  content: "<"; }

.ic.slider .cutter.bl-in-bigcircle::before {
  font-size: 36px;
  content: "\f053"; }

.ic.slider .cutter.big-lt {
  text-align: left;
  left: 10px; }

.ic.slider .cutter.big-lt:before {
  text-align: left;
  content: "\f104"; }

/*---| Next |---*/
.ic.slider .cutter.right-circle,
.ic.slider .cutter.right-bigcircle,
.ic.slider .cutter.gt-in-circle,
.ic.slider .cutter.gt-in-bigcircle,
.ic.slider .cutter.lg-in-circle,
.ic.slider .cutter.lg-in-bigcircle,
.ic.slider .cutter.bg-in-circle,
.ic.slider .cutter.bg-in-bigcircle {
  right: 10px; }

.ic.slider .cutter.gt-in-circle::before {
  font-size: 24px;
  content: "\f105"; }

.ic.slider .cutter.lg-in-circle::before {
  font-size: 30px;
  content: ">"; }

.ic.slider .cutter.bg-in-circle::before {
  font-size: 21px;
  content: "\f054"; }

.ic.slider .cutter.gt-in-bigcircle::before,
.ic.slider .cutter.lg-in-bigcircle::before,
.ic.slider .cutter.bg-in-bigcircle::before {
  line-height: 82px; }

.ic.slider .cutter.gt-in-bigcircle::before {
  font-size: 48px;
  content: "\f105"; }

.ic.slider .cutter.lg-in-bigcircle::before {
  font-size: 60px;
  content: ">"; }

.ic.slider .cutter.bg-in-bigcircle::before {
  font-size: 36px;
  content: "\f054"; }

.ic.slider .cutter.big-gt {
  text-align: right;
  right: 10px; }

.ic.slider .cutter.big-gt:before {
  text-align: right;
  content: "\f105"; }

/*
 * Panel Position
 * 面板位置
 */
.ic.slider .panel {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 999;
  font-size: 0px;
  box-sizing: border-box; }

.ic.slider .panel.upon-remote {
  top: 0px;
  text-align: right; }

.ic.slider .panel.top-remote {
  top: 0px;
  text-align: right; }

.ic.slider .panel.middle-remote {
  top: 50%;
  margin-top: -50px;
  text-align: right; }

.ic.slider .panel.bottom-remote {
  bottom: 0px;
  text-align: right; }

.ic.slider .panel.under-remote {
  bottom: -30px;
  text-align: center; }

/*
 * Buttons Position
 * 按钮位置
 */
.ic.slider .panel.panel.al-left {
  left: 0;
  right: auto;
  text-align: left; }

.ic.slider .panel.panel.al-right {
  left: auto;
  right: 0;
  text-align: right; }

.ic.slider .panel.panel.al-center {
  left: 0;
  right: 0;
  margin: auto;
  text-align: center; }

.ic.slider .panel.panel.al-just {
  left: 0;
  right: 0;
  text-align: justify; }

.ic.slider .panel.middle-remote.al-center,
.ic.slider .panel.middle-remote.al-just {
  display: none !important; }

/*
 * Buttons Style
 * 按钮样式
 */
/*---| 圆/点/圈 |---*/
/*- circles -*/
.ic.slider .panel.circles {
  height: 40px; }

.ic.slider .panel.circles.al-left {
  padding-left: 10px; }

.ic.slider .panel.circles.al-right {
  padding-right: 10px; }

.ic.slider .panel.circles .slider-anchor {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 8px 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  opacity: .8; }

/*- points -*/
.ic.slider .panel.points {
  height: 30px; }

.ic.slider .panel.points.al-left {
  padding-left: 10px; }

.ic.slider .panel.points.al-right {
  padding-right: 10px; }

.ic.slider .panel.points .slider-anchor {
  display: inline-block;
  opacity: .8;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: 9px 5px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer; }

/*- rings -*/
.ic.slider .panel.rings {
  height: 40px; }

.ic.slider .panel.rings.al-left,
.ic.slider .panel.rings-sm.al-left {
  padding-left: 10px; }

.ic.slider .panel.rings.al-right,
.ic.slider .panel.rings-sm.al-right {
  padding-right: 10px; }

.ic.slider .panel.rings .slider-anchor,
.ic.slider .panel.rings-sm .slider-anchor {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 10px 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer; }

/*- small rings -*/
.ic.slider .panel.rings-sm {
  height: 30px; }

.ic.slider .panel.rings-sm .slider-anchor {
  width: 10px;
  height: 10px;
  margin: 10px 5px;
  border-width: 1px;
  border-radius: 5px; }

/*---| 方形 |---*/
/*- square -*/
.ic.slider .panel.squares {
  height: 30px; }

.ic.slider .panel.squares.al-left,
.ic.slider .panel.squares-rd.al-left {
  padding-left: 10px; }

.ic.slider .panel.squares.al-right,
.ic.slider .panel.squares-rd.al-right {
  padding-right: 10px; }

.ic.slider .panel.squares .slider-anchor,
.ic.slider .panel.squares-rd .slider-anchor {
  display: inline-block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 5px; }

/*- rounded square -*/
.ic.slider .panel.squares-rd {
  height: 40px; }

.ic.slider .panel.squares-rd .slider-anchor {
  width: 16px;
  height: 16px;
  margin: 12px 6px;
  border-radius: 3px; }

/*- rectangles -*/
.ic.slider .panel.rectangles {
  height: 30px; }

.ic.slider .panel.rectangles.al-left,
.ic.slider .panel.rectangles-rd.al-left {
  padding-left: 10px; }

.ic.slider .panel.rectangles.al-right,
.ic.slider .panel.rectangles-rd.al-right {
  padding-right: 10px; }

.ic.slider .panel.rectangles .slider-anchor,
.ic.slider .panel.rectangles-rd .slider-anchor {
  display: inline-block;
  width: 16px;
  height: 10px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 6px; }

/*- round rectangles -*/
.ic.slider .panel.rectangles-rd .slider-anchor {
  border-radius: 3px; }

/*---| 条状 |---*/
/*- bars -*/
.ic.slider .panel.bars,
.ic.slider .panel.bars-rd {
  height: 30px; }

.ic.slider .panel.bars.al-left,
.ic.slider .panel.bars-rd.al-left {
  padding-left: 10px; }

.ic.slider .panel.bars.al-right,
.ic.slider .panel.bars-rd.al-right {
  padding-right: 10px; }

.ic.slider .panel.bars .slider-anchor,
.ic.slider .panel.bars-rd .slider-anchor {
  display: inline-block;
  width: 24px;
  height: 6px;
  overflow: hidden;
  cursor: pointer;
  margin: 12px 3px; }

/*- rounded bars -*/
.ic.slider .panel.bars-rd .slider-anchor {
  border-radius: 3px; }

/*---| 线形 |---*/
/*- lines -*/
.ic.slider .panel.lines,
.ic.slider .panel.lines-wb {
  height: 30px; }

.ic.slider .panel.lines.al-left,
.ic.slider .panel.lines-wb.al-left {
  padding-left: 10px; }

.ic.slider .panel.lines.al-right,
.ic.slider .panel.lines-wb.al-right {
  padding-right: 10px; }

.ic.slider .panel.lines .slider-anchor,
.ic.slider .panel.lines-wb .slider-anchor {
  display: inline-block;
  width: 50px;
  height: 1px;
  overflow: hidden;
  cursor: pointer;
  margin: 12px 5px; }

.ic.slider .panel.lines-wb .slider-anchor {
  border-style: solid;
  border-width: 1px; }

/*- lines with border -*/
.ic.slider .panel.lines-wb .slider-anchor.active {
  width: 48px;
  height: 1px; }

/*---| 索引 |---*/
/*- context -*/
/*- thumbs -*/
.ic.slider .panel.context,
.ic.slider .panel.thumbs {
  width: 100%;
  height: 50px; }

.ic.slider .panel.thumbs {
  height: 80px;
  font-size: 0; }

.ic.slider .panel.context.middle-remote,
.ic.slider .panel.thumbs.middle-remote {
  width: 200px;
  height: 100%;
  top: 0;
  margin-top: 0;
  box-sizing: content-box; }

.ic.slider .panel.thumbs.middle-remote {
  width: 160px; }

.ic.slider .panel.context .slider-anchor,
.ic.slider .panel.thumbs .slider-anchor {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  border-top: rgba(255, 255, 255, 0.5) solid 1px;
  border-right: rgba(255, 255, 255, 0.5) solid 1px;
  line-height: 50px;
  font-size: 14px;
  transition: background-color ease-in .3s;
  overflow: hidden;
  cursor: pointer; }

.ic.slider .panel.context.middle-remote .slider-anchor,
.ic.slider .panel.thumbs.middle-remote .slider-anchor {
  width: 100%;
  height: auto;
  display: block; }

/*
 * Anchor Colors
 * 閿氱偣棰滆壊
 */
/**** TYPES ****/
/* Without Border **/
.ic.slider .panel.bars .slider-anchor,
.ic.slider .panel.bars-rd .slider-anchor,
.ic.slider .panel.rectangles .slider-anchor,
.ic.slider .panel.squares .slider-anchor,
.ic.slider .panel.squares-rd .slider-anchor,
.ic.slider .panel.points .slider-anchor,
.ic.slider .panel.lines .slider-anchor {
  background-color: #DDD; }

/* Circles */
.ic.slider .panel.circles .slider-anchor {
  background-color: #DDD;
  border-color: #DDD; }

/* With Border */
.ic.slider .panel.lines-wb .slider-anchor,
.ic.slider .panel.rings .slider-anchor,
.ic.slider .panel.rings-sm .slider-anchor {
  background-color: transparent;
  border-color: #888; }

/**** COLOURS ****/
/* default:gray */
.ic.slider .panel.squares .slider-anchor.active,
.ic.slider .panel.squares-rd .slider-anchor.active,
.ic.slider .panel.rectangles .slider-anchor.active,
.ic.slider .panel.bars .slider-anchor.active,
.ic.slider .panel.bars-rd .slider-anchor.active,
.ic.slider .panel.points .slider-anchor.active,
.ic.slider .panel.lines .slider-anchor.active,
.ic.slider .panel.rings .slider-anchor:hover,
.ic.slider .panel.rings-sm .slider-anchor:hover {
  background-color: #888; }

.ic.slider .panel.circles .slider-anchor.active,
.ic.slider .panel.lines-wb .slider-anchor.active,
.ic.slider .panel.rings .slider-anchor.active,
.ic.slider .panel.rings-sm .slider-anchor.active {
  background-color: #888;
  border-color: #888; }

/* red */
.ic.slider .panel.red.squares .slider-anchor.active,
.ic.slider .panel.red.squares-rd .slider-anchor.active,
.ic.slider .panel.red.rectangles .slider-anchor.active,
.ic.slider .panel.red.bars .slider-anchor.active,
.ic.slider .panel.red.bars-rd .slider-anchor.active,
.ic.slider .panel.red.points .slider-anchor.active,
.ic.slider .panel.red.lines .slider-anchor.active,
.ic.slider .panel.red.rings .slider-anchor:hover,
.ic.slider .panel.red.rings-sm .slider-anchor:hover {
  background-color: #F03; }

.ic.slider .panel.red.circles .slider-anchor.active,
.ic.slider .panel.red.lines-wb .slider-anchor.active,
.ic.slider .panel.red.rings .slider-anchor.active,
.ic.slider .panel.red.rings-sm .slider-anchor.active {
  background-color: #FCC;
  border-color: #F03; }

/* orange */
.ic.slider .panel.orange.squares .slider-anchor.active,
.ic.slider .panel.orange.squares-rd .slider-anchor.active,
.ic.slider .panel.orange.rectangles .slider-anchor.active,
.ic.slider .panel.orange.bars .slider-anchor.active,
.ic.slider .panel.orange.bars-rd .slider-anchor.active,
.ic.slider .panel.orange.points .slider-anchor.active,
.ic.slider .panel.orange.lines .slider-anchor.active,
.ic.slider .panel.orange.rings .slider-anchor:hover,
.ic.slider .panel.orange.rings-sm .slider-anchor:hover {
  background-color: #F60; }

.ic.slider .panel.orange.circles .slider-anchor.active,
.ic.slider .panel.orange.lines-wb .slider-anchor.active,
.ic.slider .panel.orange.rings .slider-anchor.active,
.ic.slider .panel.orange.rings-sm .slider-anchor.active {
  background-color: #FC9;
  border-color: #F60; }

/* brown */
.ic.slider .panel.brown.squares .slider-anchor.active,
.ic.slider .panel.brown.squares-rd .slider-anchor.active,
.ic.slider .panel.brown.rectangles .slider-anchor.active,
.ic.slider .panel.brown.bars .slider-anchor.active,
.ic.slider .panel.brown.bars-rd .slider-anchor.active,
.ic.slider .panel.brown.points .slider-anchor.active,
.ic.slider .panel.brown.lines .slider-anchor.active,
.ic.slider .panel.brown.rings .slider-anchor:hover,
.ic.slider .panel.brown.rings-sm .slider-anchor:hover {
  background-color: #C93; }

.ic.slider .panel.brown.circles .slider-anchor.active,
.ic.slider .panel.brown.lines-wb .slider-anchor.active,
.ic.slider .panel.brown.rings .slider-anchor.active,
.ic.slider .panel.brown.rings-sm .slider-anchor.active {
  background-color: #FC9;
  border-color: #C93; }

/* yellow */
.ic.slider .panel.yellow.squares .slider-anchor.active,
.ic.slider .panel.yellow.squares-rd .slider-anchor.active,
.ic.slider .panel.yellow.rectangles .slider-anchor.active,
.ic.slider .panel.yellow.bars .slider-anchor.active,
.ic.slider .panel.yellow.bars-rd .slider-anchor.active,
.ic.slider .panel.yellow.points .slider-anchor.active,
.ic.slider .panel.yellow.lines .slider-anchor.active,
.ic.slider .panel.yellow.rings .slider-anchor:hover,
.ic.slider .panel.yellow.rings-sm .slider-anchor:hover {
  background-color: #CC0; }

.ic.slider .panel.yellow.circles .slider-anchor.active,
.ic.slider .panel.yellow.lines-wb .slider-anchor.active,
.ic.slider .panel.yellow.rings .slider-anchor.active,
.ic.slider .panel.yellow.rings-sm .slider-anchor.active {
  background-color: #FFC;
  border-color: #CC0; }

/* green */
.ic.slider .panel.green.squares .slider-anchor.active,
.ic.slider .panel.green.squares-rd .slider-anchor.active,
.ic.slider .panel.green.rectangles .slider-anchor.active,
.ic.slider .panel.green.bars .slider-anchor.active,
.ic.slider .panel.green.bars-rd .slider-anchor.active,
.ic.slider .panel.green.points .slider-anchor.active,
.ic.slider .panel.green.lines .slider-anchor.active,
.ic.slider .panel.green.rings .slider-anchor:hover,
.ic.slider .panel.green.rings-sm .slider-anchor:hover {
  background-color: #6C6; }

.ic.slider .panel.green.circles .slider-anchor.active,
.ic.slider .panel.green.lines-wb .slider-anchor.active,
.ic.slider .panel.green.rings .slider-anchor.active,
.ic.slider .panel.green.rings-sm .slider-anchor.active {
  background-color: #CFC;
  border-color: #6C6; }

/* darkgreen */
.ic.slider .panel.darkgreen.squares .slider-anchor.active,
.ic.slider .panel.darkgreen.squares-rd .slider-anchor.active,
.ic.slider .panel.darkgreen.rectangles .slider-anchor.active,
.ic.slider .panel.darkgreen.bars .slider-anchor.active,
.ic.slider .panel.darkgreen.bars-rd .slider-anchor.active,
.ic.slider .panel.darkdarkgreen.points .slider-anchor.active,
.ic.slider .panel.darkgreen.lines .slider-anchor.active,
.ic.slider .panel.darkgreen.rings .slider-anchor:hover,
.ic.slider .panel.darkgreen.rings-sm .slider-anchor:hover {
  background-color: #090; }

.ic.slider .panel.darkgreen.circles .slider-anchor.active,
.ic.slider .panel.darkgreen.lines-wb .slider-anchor.active,
.ic.slider .panel.darkgreen.rings .slider-anchor.active,
.ic.slider .panel.darkgreen.rings-sm .slider-anchor.active {
  background-color: #CFC;
  border-color: #090; }

/* cyan */
.ic.slider .panel.cyan.squares .slider-anchor.active,
.ic.slider .panel.cyan.squares-rd .slider-anchor.active,
.ic.slider .panel.cyan.rectangles .slider-anchor.active,
.ic.slider .panel.cyan.bars .slider-anchor.active,
.ic.slider .panel.cyan.bars-rd .slider-anchor.active,
.ic.slider .panel.cyan.points .slider-anchor.active,
.ic.slider .panel.cyan.lines .slider-anchor.active,
.ic.slider .panel.cyan.rings .slider-anchor:hover,
.ic.slider .panel.cyan.rings-sm .slider-anchor:hover {
  background-color: #6CF; }

.ic.slider .panel.cyan.circles .slider-anchor.active,
.ic.slider .panel.cyan.lines-wb .slider-anchor.active,
.ic.slider .panel.cyan.rings .slider-anchor.active,
.ic.slider .panel.cyan.rings-sm .slider-anchor.active {
  background-color: #CFF;
  border-color: #6CF; }

/* blue */
.ic.slider .panel.blue.squares .slider-anchor.active,
.ic.slider .panel.blue.squares-rd .slider-anchor.active,
.ic.slider .panel.blue.rectangles .slider-anchor.active,
.ic.slider .panel.blue.bars .slider-anchor.active,
.ic.slider .panel.blue.bars-rd .slider-anchor.active,
.ic.slider .panel.blue.points .slider-anchor.active,
.ic.slider .panel.blue.lines .slider-anchor.active,
.ic.slider .panel.blue.rings .slider-anchor:hover,
.ic.slider .panel.blue.rings-sm .slider-anchor:hover {
  background-color: #08F; }

.ic.slider .panel.blue.circles .slider-anchor.active,
.ic.slider .panel.blue.lines-wb .slider-anchor.active,
.ic.slider .panel.blue.rings .slider-anchor.active,
.ic.slider .panel.blue.rings-sm .slider-anchor.active {
  background-color: #6FF;
  border-color: #08F; }

/* darkblue */
.ic.slider .panel.darkblue.squares .slider-anchor.active,
.ic.slider .panel.darkblue.squares-rd .slider-anchor.active,
.ic.slider .panel.darkblue.rectangles .slider-anchor.active,
.ic.slider .panel.darkblue.bars .slider-anchor.active,
.ic.slider .panel.darkblue.bars-rd .slider-anchor.active,
.ic.slider .panel.darkblue.points .slider-anchor.active,
.ic.slider .panel.darkblue.lines .slider-anchor.active,
.ic.slider .panel.darkblue.rings .slider-anchor:hover,
.ic.slider .panel.darkblue.rings-sm .slider-anchor:hover {
  background-color: #038; }

.ic.slider .panel.darkblue.circles .slider-anchor.active,
.ic.slider .panel.darkblue.lines-wb .slider-anchor.active,
.ic.slider .panel.darkblue.rings .slider-anchor.active,
.ic.slider .panel.darkblue.rings-sm .slider-anchor.active {
  background-color: #6CF;
  border-color: #038; }

/* purple */
.ic.slider .panel.purple.squares .slider-anchor.active,
.ic.slider .panel.purple.squares-rd .slider-anchor.active,
.ic.slider .panel.purple.rectangles .slider-anchor.active,
.ic.slider .panel.purple.bars .slider-anchor.active,
.ic.slider .panel.purple.bars-rd .slider-anchor.active,
.ic.slider .panel.purple.points .slider-anchor.active,
.ic.slider .panel.purple.lines .slider-anchor.active,
.ic.slider .panel.purple.rings .slider-anchor:hover,
.ic.slider .panel.purple.rings-sm .slider-anchor:hover {
  background-color: #D0C; }

.ic.slider .panel.purple.circles .slider-anchor.active,
.ic.slider .panel.purple.lines-wb .slider-anchor.active,
.ic.slider .panel.purple.rings .slider-anchor.active,
.ic.slider .panel.purple.rings-sm .slider-anchor.active {
  background-color: #FCE;
  border-color: #D0C; }

/* magenta */
.ic.slider .panel.magenta.squares .slider-anchor.active,
.ic.slider .panel.magenta.squares-rd .slider-anchor.active,
.ic.slider .panel.magenta.rectangles .slider-anchor.active,
.ic.slider .panel.magenta.bars .slider-anchor.active,
.ic.slider .panel.magenta.bars-rd .slider-anchor.active,
.ic.slider .panel.magenta.points .slider-anchor.active,
.ic.slider .panel.magenta.lines .slider-anchor.active,
.ic.slider .panel.magenta.rings .slider-anchor:hover,
.ic.slider .panel.magenta.rings-sm .slider-anchor:hover {
  background-color: #F07; }

.ic.slider .panel.magenta.circles .slider-anchor.active,
.ic.slider .panel.magenta.lines-wb .slider-anchor.active,
.ic.slider .panel.magenta.rings .slider-anchor.active,
.ic.slider .panel.magenta.rings-sm .slider-anchor.active {
  background-color: #F9C;
  border-color: #F07; }

/* pink */
.ic.slider .panel.pink.squares .slider-anchor.active,
.ic.slider .panel.pink.squares-rd .slider-anchor.active,
.ic.slider .panel.pink.rectangles .slider-anchor.active,
.ic.slider .panel.pink.bars .slider-anchor.active,
.ic.slider .panel.pink.bars-rd .slider-anchor.active,
.ic.slider .panel.pink.points .slider-anchor.active,
.ic.slider .panel.pink.lines .slider-anchor.active,
.ic.slider .panel.pink.rings .slider-anchor:hover,
.ic.slider .panel.pink.rings-sm .slider-anchor:hover {
  background-color: #F69; }

.ic.slider .panel.pink.circles .slider-anchor.active,
.ic.slider .panel.pink.lines-wb .slider-anchor.active,
.ic.slider .panel.pink.rings .slider-anchor.active,
.ic.slider .panel.pink.rings-sm .slider-anchor.active {
  background-color: #F9F;
  border-color: #F69; }

/* white */
.ic.slider .panel.white.squares .slider-anchor.active,
.ic.slider .panel.white.squares-rd .slider-anchor.active,
.ic.slider .panel.white.rectangles .slider-anchor.active,
.ic.slider .panel.white.bars .slider-anchor.active,
.ic.slider .panel.white.bars-rd .slider-anchor.active,
.ic.slider .panel.white.points .slider-anchor.active,
.ic.slider .panel.white.lines .slider-anchor.active,
.ic.slider .panel.white.rings .slider-anchor:hover,
.ic.slider .panel.white.rings-sm .slider-anchor:hover {
  background-color: #FFF; }

.ic.slider .panel.white.circles .slider-anchor.active,
.ic.slider .panel.white.lines-wb .slider-anchor.active,
.ic.slider .panel.white.rings .slider-anchor.active,
.ic.slider .panel.white.rings-sm .slider-anchor.active {
  background-color: #DDD;
  border-color: #FFF; }

/* dark */
.ic.slider .panel.dark.squares .slider-anchor.active,
.ic.slider .panel.dark.squares-rd .slider-anchor.active,
.ic.slider .panel.dark.rectangles .slider-anchor.active,
.ic.slider .panel.dark.bars .slider-anchor.active,
.ic.slider .panel.dark.bars-rd .slider-anchor.active,
.ic.slider .panel.dark.points .slider-anchor.active,
.ic.slider .panel.dark.lines .slider-anchor.active,
.ic.slider .panel.dark.rings .slider-anchor:hover,
.ic.slider .panel.dark.rings-sm .slider-anchor:hover {
  background-color: #333; }

.ic.slider .panel.dark.circles .slider-anchor.active,
.ic.slider .panel.dark.lines-wb .slider-anchor.active,
.ic.slider .panel.dark.rings .slider-anchor.active,
.ic.slider .panel.dark.rings-sm .slider-anchor.active {
  background-color: #666;
  border-color: #333; }

/* black */
.ic.slider .panel.black.squares .slider-anchor.active,
.ic.slider .panel.black.squares-rd .slider-anchor.active,
.ic.slider .panel.black.rectangles .slider-anchor.active,
.ic.slider .panel.black.bars .slider-anchor.active,
.ic.slider .panel.black.bars-rd .slider-anchor.active,
.ic.slider .panel.black.points .slider-anchor.active,
.ic.slider .panel.black.lines .slider-anchor.active,
.ic.slider .panel.black.rings .slider-anchor:hover,
.ic.slider .panel.black.rings-sm .slider-anchor:hover {
  background-color: #000; }

.ic.slider .panel.black.circles .slider-anchor.active,
.ic.slider .panel.black.lines-wb .slider-anchor.active,
.ic.slider .panel.black.rings .slider-anchor.active,
.ic.slider .panel.black.rings-sm .slider-anchor.active {
  background-color: #666;
  border-color: #000; }

/**** Only Border ****/
.ic.slider.colx3 .cutter {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  opacity: .8;
  cursor: pointer;
  z-index: 100; }

.ic.slider.colx3 .cutter.goto-prev {
  top: 0px;
  right: 100%; }

.ic.slider.colx3 .cutter.goto-next {
  top: 0px;
  left: 100%; }

/*# sourceMappingURL=style.css.map */
