/****************
/*	Columns
/************************************************/

@mixin inner-item-style($height, $size, $color) {
    width: 98%;
    padding: 0 1%;
    line-height: $height;
    font-size: $size;
    color: $color;
}

.bc.listview {
    .list-item {
        color: #181818;
        .list-title {
            height: 30px;
            @include inner-item-style(30px, 15px, inherit);
        }
        .list-abstract {
            @include inner-item-style(21px, 12px, #808080);
            text-align: justify;
        }
        .list-abstract[data-row="1"] {
            height: 21px;
        }
        .list-abstract[data-row="2"] {
            height: 42px;
        }
        .list-abstract[data-row="3"] {
            height: 63px;
        }
        .list-abstract[data-row="4"] {
            height: 84px;
        }
        .list-meta {
            @include inner-item-style(24px, 13px, #515151);
            >span,
            .list-meta-item {
                display: inline;
            }
            >span.block,
            .list-meta-item.block {
                display: inline-block;
            }
            >span.space,
            .list-meta-item.space {
                margin: 0 10px;
            }
            >span.lspace,
            .list-meta-item.lspace {
                margin-left: 10px;
            }
            >span.rspace,
            .list-meta-item.rspace {
                margin-right: 10px;
            }
        }
        .list-meta.bottom {
            margin-top: 12px;
        }
        >span,
        .list-title>span,
        .list-text {
            @include inner-item-style(30px, 13px, #c0c0c0);
            width: auto;
            padding: 0;
        }
        >i,
        .list-title>i,
        .list-icon {
            margin: 6px 1px;
            padding: 0 6px;
            border-radius: 9px;
            background-color: #999;
            line-height: 18px;
            font-size: 12px;
            color: #fff;
        }
        >i.hollow,
        .list-title>i.hollow,
        .list-icon.hollow {
            padding: 0 6px;
            background-color: transparent;
            border: 1px solid #999;
            line-height: 16px;
            color: #999;
        }
        @each $name,
        $color in $colors {
            >i.#{$name},
            .list-title>i.#{$name},
            .list-icon.#{$name} {
                background-color: $color;
            }
            >i.hollow.#{$name},
            .list-title>i.hollow.#{$name},
            .list-icon.hollow.#{$name} {
                background-color: transparent;
                border: 1px solid $color;
                color: $color;
            }
        }
        >span.pl-left,
        .list-title>span.pl-left,
        .list-text.pl-left,
        >i.pl-left,
        .list-title>i.pl-left,
        .list-icon.pl-left,
        .list-meta.pl-left {
            float: left;
        }
        .list-meta.pl-left {
            text-align: left;
        }
        >span.pl-right,
        .list-title>span.pl-right,
        .list-text.pl-right,
        >i.pl-right,
        .list-title>i.pl-right,
        .list-icon.pl-right,
        .list-meta.pl-right {
            float: right;
        }
        .list-meta.pl-right {
            text-align: right;
        }
        .list-meta.though {
            display: block;
            text-align: center;
        }
        .list-meta.though.al-left {
            text-align: left;
        }
        .list-meta.though.al-right {
            text-align: right;
        }
        .list-meta.though.al-just {
            text-align: justify;
        }
        >i.pl-left,
        .list-title>i.pl-left,
        .list-icon.pl-left {
            margin: 6px 2px 6px 0;
        }
        >i.pl-right,
        .list-title>i.pl-right,
        .list-icon.pl-right {
            margin: 6px 0 6px 2px;
        }
    }
    .list-item.pane.rounded,
    .list-item.card.rounded {
        border-radius: 5px;
    }
}

@import "inner-items-cover";