.bc.listview.media-list {
    .list-item.right-left {
        >img,
        >.list-figure,
        >.list-image {
            float: right;
            margin-right: 10px 10px 10px 0;
        }
    }
    .list-item.content.right-left {
        >.list-body {
            margin: 15px 0;
            @include inner-body-style(99%, 1%, 0);
        }
    }
    .list-item.card.right-left {
        >img,
        >.list-figure,
        >.list-image {
            margin: 0 0 0 10px;
        }
    }
    .list-item.cover.right-left,
    .list-item.content.cover.right-left {
        >.list-body {
            margin: 10px 0;
        }
    }
    .list-item.card.cover.right-left,
    .list-item.card.content.cover.right-left {
        >img,
        >.list-figure,
        >.list-image {
            margin: 0 0 0 10px;
        }
        >.list-body {
            margin: 0;
            @include inner-body-style(99%, 0, 1%);
        }
    }
}