.bc.listview.media-list {
    .list-item.top-bottom {
        >img,
        >.list-figure,
        >.list-image {
            float: none;
            width: 96%;
            margin: 20px 2%;
        }
        >.list-body.pl-bottom {
            @include inner-body-style(100%, 0, 0);
        }
    }
    .list-item.content.top-bottom {
        >img,
        >.list-figure,
        >.list-image {
            width: 96%;
            margin: 5px 2% 0;
        }
        >.list-body {
            margin: 0 2% 5px;
            @include inner-body-style(100%, 0, 0);
        }
    }
    .list-item.cover.top-bottom,
    .list-item.content.cover.top-bottom {
        >img,
        >.list-figure,
        >.list-image {
            width: 100%;
        }
    }
    .list-item.card.cover.top-bottom {
        >.list-body {
            width: 96%;
            padding: 0 2%;
        }
    }
}

.bc.listview.media-list[data-list-cols] {
    .list-item.card.cover.top-bottom,
    .list-item.pane.cover.top-bottom {
        margin: 20px 2%;
    }
}

.bc.listview.media-list[data-list-cols="1"] {
    .list-item.card.cover.top-bottom,
    .list-item.pane.cover.top-bottom {
        margin: 20px auto;
    }
}