/****************
/*	Multiple Rows Text List
/************************************************/

.bc.listview.mtext-list,
.bc.listview.media-list {
    .list-item {
        width: 100%;
        padding: 5px 0;
    }
    .list-item.cover {
        padding: 0;
    }
    .list-item.topline {
        border-top: 1px solid #cccccc;
    }
    .list-item.underline {
        border-bottom: 1px solid #cccccc;
    }
    .list-item.topline.underline {
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }
    .list-item.stripe:nth-child(odd) {
        background-color: #eeeeee;
    }
    .list-item.stripe:nth-child(even) {
        background-color: #f8f8f8;
    }
    .list-item.card {
        background-color: #ffffff;
        margin: 10px 0;
    }
    .list-item.pane {
        box-sizing: border-box;
        border: 1px solid #cccccc;
        margin: 10px 0;
    }
    .list-item.content {
        width: 98%;
        margin: 10px 1%;
    }
    .list-item.content.card,
    .list-item.content.pane {
        margin: 10px 1%;
    }
    .list-item.cover.card,
    .list-item.cover.pane {
        .list-title,
        .list-abstract,
        .list-meta {
            width: 98%;
            padding: 0 1%;
        }
    }
}