/****************
/*	Text List
/************************************************/

.bc.listview.text-list {
    .list-item {
        width: 98%;
        height: 30px;
        padding: 5px 1%;
        font-size: 14px;
        line-height: 30px;
    }
    .list-item.topline {
        height: 29px;
        border-top: 1px solid #cccccc;
        line-height: 29px;
    }
    .list-item.underline {
        height: 29px;
        border-bottom: 1px solid #cccccc;
        line-height: 29px;
    }
    .list-item.topline.underline {
        height: 28px;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        line-height: 28px;
    }
    .list-item.stripe:nth-child(odd) {
        background-color: #eeeeee;
    }
    .list-item.stripe:nth-child(even) {
        background-color: #f8f8f8;
    }
    .list-item.card {
        background-color: #ffffff;
        margin: 10px 0;
    }
    .list-item.pane {
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        margin: 10px 0;
    }
    .list-item.content {
        padding: 5px 0;
        margin: 0 1%;
    }
    .list-item.content.card {
        width: 96%;
    }
    .list-item.content.pane {
        width: 98%;
    }
    .list-item.content.card,
    .list-item.content.pane {
        padding: 5px 1%;
        margin: 10px 1%;
    }
    .list-item.cover,
    .list-item.content.cover {
        padding: 0;
    }
    .list-item.pane.cover {
        height: 30px;
    }
    .list-item.content.card.cover,
    .list-item.pane.cover {
        padding: 0 1%;
    }
    .list-item.pane.trueround,
    .list-item.card.trueround {
        border-radius: 20px;
    }
    .list-item.pane.cover.trueround {
        border-radius: 15px;
    }
}