@charset "utf-8";

/*********************************************
 ********** iBlock See UI Framework **********
 **********  class _.see.ScrollBar  **********
 **********       theme   dark      **********
 *********************************************/

.ic.scrollbar.dark .scroll-bar-vertical {
    width: 6px;
}

.ic.scrollbar.dark .scroll-bar-vertical .scroll-bar {
    width: 6px;
    cursor: default;
}

.ic.scrollbar.dark .scroll-bar-vertical .scroll-bar .scroll-rail {
    width: 6px;
    margin: 0;
    background: #666;
    z-index: 100;
}

.ic.scrollbar.dark .scroll-bar-vertical .scroll-bar .scroll-dragger {
    width: 6px;
    margin: 0;
    background: #484848;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.ic.scrollbar.dark .scroll-bar-vertical .scroll-bar .scroll-dragger:hover {
    background: #282828;
}

.ic.scrollbar.dark .scroll-bar-vertical .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px
}

.ic.scrollbar.dark .scroll-bar-vertical .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px
}

.ic.scrollbar.dark .scroll-bar-horizontal .scroll-bar {
    height: 6px;
    cursor: default;
}

.ic.scrollbar.dark .scroll-bar-horizontal .scroll-bar .scroll-rail {
    height: 6px;
    margin: 0;
    background: #666;
    z-index: 100;
}

.ic.scrollbar.dark .scroll-bar-horizontal .scroll-bar .scroll-dragger {
    height: 6px;
    margin: 0;
    background: #484848;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.ic.scrollbar.dark .scroll-bar-horizontal .scroll-bar .scroll-dragger:hover {
    background: #282828;
}

.ic.scrollbar.dark .scroll-bar-horizontal .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px
}

.ic.scrollbar.dark .scroll-bar-horizontal .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px
}