.bc.clock .clock-dial {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.bc.clock .clock-dial .clock-fixer,
.bc.clock .clock-dial .clock-hand {
    position: absolute;
    top: 50%;
    left: 50%;
}

.bc.clock .clock-dial .clock-fixer {
    width: 10%;
    height: 10%;
    margin-top: -5%;
    margin-left: -5%;
    background-color: #000;
    border-radius: 50%;
    z-index: 30;
}

.bc.clock .clock-dial .clock-fixer::before {
    display: block;
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border-radius: 50%;
    content: '';
}

.bc.clock .clock-dial .clock-hand.hour {
    width: 6%;
    height: 60%;
    margin-top: -30%;
    margin-left: -3%;
    z-index: 0;
}

.bc.clock .clock-dial .clock-hand.minute {
    width: 4%;
    height: 80%;
    margin-top: -40%;
    margin-left: -2%;
    z-index: 10;
}

.bc.clock .clock-dial .clock-hand.second {
    width: 2%;
    height: 90%;
    margin-top: -45%;
    margin-left: -1%;
    z-index: 20;
}

.bc.clock .clock-dial .clock-hand::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 65%;
    top: 0;
    left: 0;
    content: '';
}

.bc.clock .clock-dial .clock-hand.hour::before {
    background-color: #000;
}

.bc.clock .clock-dial .clock-hand.minute::before {
    background-color: #C60;
}

.bc.clock .clock-dial .clock-fixer::before,
.bc.clock .clock-dial .clock-hand.second::before {
    background-color: #FC0;
}

$colors: ('red', #800, #F35),
('orange', #930, #F90),
('yellow', #C60, #FC0),
('green', #060, #0C0),
('cyan', #066, #0DF),
('blue', #039, #09F),
('purple', #906, #F0D);
@each $name,
$color1,
$color2 in $colors {
    .bc.clock.#{$name} .clock-dial .clock-hand.minute::before {
        background-color: $color1;
    }
    .bc.clock.#{$name} .clock-dial .clock-fixer::before,
    .bc.clock.#{$name} .clock-dial .clock-hand.second::before {
        background-color: $color2;
    }
}