@charset "utf-8";

/*** .bc.kalendar ***/

.bc.kalendar {
    display: block;
    width: 380px;
    height: 450px;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
}

.bc.kalendar .months {
    display: block;
    width: 360px;
    height: 80px;
    margin: 10px 10px 0;
}

.bc.kalendar .months .month {
    display: block;
    height: 80px;
    text-align: center;
    font-size: 24px;
    line-height: 80px;
    cursor: pointer;
    transition: all ease .4s;
}

.bc.kalendar .months .prev-month {
    width: 55px;
    float: left;
    font-family: Consola;
    font-size: 32px;
}

.bc.kalendar .months .curr-month {
    width: 250px;
    float: left;
}

.bc.kalendar .months .next-month {
    width: 55px;
    float: right;
    font-family: Consola;
    font-size: 32px;
}

.bc.kalendar .week {
    display: block;
    width: 350px;
    height: 28px;
    margin: 1px 10px;
    padding: 5px;
}

.bc.kalendar .week .day-of-week {
    display: block;
    width: 46px;
    height: 24px;
    margin: 2px;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    float: left;
    cursor: pointer;
    border-radius: 2px;
}

.bc.kalendar .days {
    display: block;
    width: 350px;
    height: 300px;
    margin: 0 10px;
    padding: 5px;
}

.bc.kalendar .days .day {
    display: block;
    width: 48px;
    height: 48px;
    margin: 1px;
    font-size: 15px;
    line-height: 48px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.bc.kalendar .days .day.actived {
    margin: 0;
}

.bc.kalendar .days .day.actived {
    margin: 0;
}

.bc.kalendar .days .day:hover {
    margin: 0;
}

.bc.kalendar .months {
    width: 360px;
    background: #222;
}

.bc.kalendar .months .month {
    color: #999;
}

.bc.kalendar .months .month:hover {
    background: #181818;
}

.bc.kalendar .week {
    background: #222;
}

.bc.kalendar .week .day-of-week {
    color: #999;
}

.bc.kalendar .week .day-of-week:hover {
    background: #191919;
}

.bc.kalendar .week .day-of-week.today {
    background: #191919;
}

.bc.kalendar .days {
    background: #222;
}

.bc.kalendar .days .day {
    color: #999;
    background: #181818;
}

.bc.kalendar .days .day.events {
    background: #522;
}

.bc.kalendar .days .day.today {
    background: #663300;
}

.bc.kalendar .days .day.actived,
.bc.kalendar .days .day:hover {
    border: #ab3f45 1px solid;
}

.bc.kalendar .days .day.disabled {
    color: #666;
    background: #282828;
}

.bc.kalendar .days .day.disabled:hover {
    border: #282828 1px solid;
}