@charset "utf-8";

/*** Notice ***/

msgcenter content {
    display: block;
    width: 100%;
    height: auto;
    z-index: 0;
    transition: top ease .4s;
}

msgcenter:hover scrollbar {
    opacity: .2;
}


/**********************************************/

msgcenter content msgroup {
    display: block;
    position: relative;
    width: 390px;
    height: auto;
    margin: 5px;
    border-bottom: #222 solid 1px;
}

msgcenter content msgroup:before {
    display: block;
    width: 390px;
    height: 24px;
    background-color: #111;
    color: #CCC;
    content: attr(name);
    font-size: 14px;
    text-align: center;
    line-height: 24px;
}

msgcenter content msgroup message {
    display: block;
    position: relative;
    width: 380px;
    height: 80px;
    margin: 5px;
    background: rgba(0, 0, 0, .8);
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
}

msgcenter content msgroup message {
    opacity: 1;
    transition: top .4s ease, opacity 1s ease;
}

msgcenter content msgroup message icon {
    width: 80px;
    height: 80px;
    background: rgba(153, 153, 153, .1);
    float: left;
}

msgcenter content msgroup message icon img {
    width: 80px;
    height: 80px;
}

msgcenter content msgroup message vision {
    width: 300px;
    height: 80px;
    background: rgba(204, 204, 204, .1);
    float: left;
}

msgcenter content msgroup message vision msgtit {
    width: 96%;
    height: 30px;
    line-height: 30px;
    padding: 0 2%;
    color: #FFD;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
}

msgcenter content msgroup message vision msgcon {
    width: 96%;
    height: 45px;
    line-height: 21px;
    padding: 0 2%;
    font-size: 13px;
}

msgcenter content msgroup message vision msgcon {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*********************************************************************************
/*** Alert ***/

msgcenter alert {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: hidden;
}

msgcenter alert[state=on] {
    top: 0;
}

msgcenter alert msgbox {
    display: block;
    position: absolute;
    width: 540px;
    height: auto;
    min-height: 160px;
    left: 50%;
    top: 50%;
    margin-left: -270px;
}

msgcenter alert msgbox {
    background: #EEE;
    box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
    overflow: hidden;
    opacity: 0;
}

msgcenter alert msgbox {
    transform: scale( .8, .8);
}

msgcenter alert msgbox {
    transition: opacity ease .4s, transform ease .4s;
}

msgcenter alert[state=on] msgbox {
    opacity: .85;
}

msgcenter alert[state=on] msgbox {
    transform: scale( 1, 1);
}

msgcenter alert msgbox:hover {
    opacity: 1;
}


/**********************************************/

msgcenter alert msgbox msgtit {
    display: block;
    width: 530px;
    height: 34px;
    line-height: 35px;
    padding: 0 5px;
    border-bottom: #CCC 1px solid;
    background: #EEE;
}

msgcenter alert msgbox msgtit {
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    cursor: default;
    text-overflow: ellipsis;
}

msgcenter alert msgbox msgcon {
    display: block;
    width: 520px;
    height: auto;
    min-height: 60px;
    line-height: 30px;
}

msgcenter alert msgbox msgcon {
    padding: 10px;
    font-size: 14px;
    color: #444;
    overflow-y: auto;
}

msgcenter alert msgbox msgbtn {
    display: block;
    position: absolute;
    width: 540px;
    height: 45px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    z-index: 10001;
}

msgcenter alert msgbox msgbtn click {
    height: 44px;
    line-height: 44px;
    border-top: #CCC 1px solid;
    background: #EEE;
    overflow: hidden;
    font-size: 16px;
    float: left;
    color: #333;
}

msgcenter alert msgbox msgbtn click:hover {
    background: #d4dfE3;
    color: #234;
}


/**********************************************/

msgcenter alert msgbox msgbtn click[data-exec=always] {
    width: 540px;
}

msgcenter alert msgbox msgbtn click[data-exec=notice] {
    width: 540px;
}

msgcenter alert msgbox msgbtn click[data-exec=resolve] {
    width: 180px;
}

msgcenter alert msgbox msgbtn click[data-exec=reject] {
    width: 178px;
    border-left: #CCC 1px solid;
    border-right: #CCC 1px solid;
}

msgcenter alert msgbox msgbtn click[data-exec=pending] {
    width: 180px;
}

msgcenter alert msgbox msgbtn click[data-exec=confirm] {
    width: 269px;
    border-right: #999 1px solid;
}

msgcenter alert msgbox msgbtn click[data-exec=cancel] {
    width: 270px;
}


/*********************************************************************************
/*** Popup ***/

msgcenter notice {
    display: none;
    position: absolute;
    width: 380px;
    height: 80px;
    background: rgba(0, 0, 0, .8);
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
}

msgcenter[state=on] notice[state=off] {
    display: block;
    opacity: 0;
    right: 10px;
}

msgcenter[state=on] notice[state=on] {
    display: block;
    opacity: 1;
    right: 10px;
}

msgcenter[state=on] notice[state=sleep] {
    display: block;
    opacity: 0;
    right: 10px;
    bottom: -100px;
}

msgcenter[state=off] notice[state=off] {
    display: block;
    opacity: 1;
    right: 0px;
}

msgcenter[state=off] notice[state=on] {
    display: block;
    opacity: 1;
    right: 420px;
}

msgcenter[state=off] notice[state=sleep] {
    display: block;
    opacity: 0;
    right: 420px;
    bottom: -100px;
}

msgcenter[state=on] notice[state=on] {
    transition: opacity .4s ease-in-out;
}

msgcenter[state=off] notice[state=on] {
    transition: right 1s ease-in-out;
}

msgcenter notice[state=sleep] {
    transition: opacity .4s ease-in-out, bottom .4s ease;
}


/**********************************************/

msgcenter [posi="0"] {
    bottom: 40px;
}

msgcenter [posi="1"] {
    bottom: 130px;
}

msgcenter [posi="2"] {
    bottom: 220px;
}

msgcenter [posi="3"] {
    bottom: 310px;
}

msgcenter [posi="4"] {
    bottom: 400px;
}

msgcenter [posi="5"] {
    bottom: 490px;
}


/**********************************************/

msgcenter notice icon {
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(153, 153, 153, .1);
    float: left;
}

msgcenter notice icon img {
    width: 80px;
    height: 80px;
}

msgcenter notice vision {
    width: 300px;
    height: 80px;
    background: rgba(204, 204, 204, .1);
    float: left;
}

msgcenter notice vision msgtit {
    display: block;
    width: 96%;
    height: 30px;
    line-height: 30px;
    padding: 0 2%;
    color: #FFD;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

msgcenter notice vision msgcon {
    display: block;
    width: 96%;
    height: 45px;
    line-height: 21px;
    padding: 0 2%;
    font-size: 13px;
}

msgcenter notice vision msgcon {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}