i,
b,
em,
strong {
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

.ic.x-w170 {
    width: 170px;
}

.ic.x-w220 {
    width: 220px;
}

.ic.x-w280 {
    width: 280px;
}

.ic.x-w420 {
    width: 420px;
}

.ic.x-w800 {
    width: 800px;
}

.ic.x-x-h380 {
    height: 380px;
    max-height: 380px;
}

.x-fcut {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

body>header {
    height: 21px;
    border-bottom: 1px solid #dcdcdc;
}

.logo {
    width: 360px;
    height: 80px;
    background-image: url(./../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
}

a :hover,
a:hover {
    color: #f60;
}

.main-nav a {
    float: left;
    height: 30px;
    margin-right: 8px;
}

.main-nav a.ic.ft-21 {
    font-weight: lighter;
}

.main-nav span {
    display: block;
    float: left;
    height: 30px;
    width: 16px;
    border-right: 1px solid #585858;
    margin: 0px 16px 0 0;
}

.searcher {
    width: 50px;
    height: 50px;
}

.searcher .search-btn {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 3;
    background: url(./../images/search.png) no-repeat right top;
    cursor: pointer;
}

.searcher .search-ipt {
    display: none;
}

.searcher.on {
    width: 396px;
}

.searcher.on .search-btn {
    display: none;
}

.searcher.on .search-ipt {
    display: block;
    width: 396px;
    height: 50px;
    background: url(./../images/search.png) no-repeat left top;
}

.searcher .search-ipt .txt {
    float: left;
    width: 265px;
    height: 40px;
    margin: 5px 1px 5px 5px;
    background: #FFF;
}

.searcher .search-ipt .txt input {
    width: 245px;
    height: 30px;
    margin: 5px 10px;
    color: #333;
    font-size: 13px;
}

.searcher .search-ipt .txt input::-webkit-input-placeholder {
    color: #CCC;
}

.searcher .search-ipt .btn {
    float: left;
    width: 80px;
    height: 40px;
    margin: 5px 0;
    background: #CCC;
    text-align: center;
    line-height: 40px;
    color: #000;
}

.searcher .search-ipt .cls {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px 0;
    cursor: pointer;
}

.common_arrow_title {
    height: 40px;
    border-bottom: 1px solid #222;
    font-size: 20px;
    position: relative;
    margin-bottom: 13px;
    overflow: visible;
}

.common_arrow_title span {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    background: #222;
    color: #fff;
    display: block;
    overflow: visible;
}

.common_arrow_title i {
    position: absolute;
    left: 50%;
    margin-left: -13px;
    bottom: -14px;
    display: block;
    width: 26px;
    height: 13px;
    overflow: hidden;
    background: url(./../images/bg_column_first.png) no-repeat -157px -108px;
}

.common-right-image {
    width: 300px;
    height: 280px;
    margin: 0 30px;
}

ul.common-right-list {
    width: 320px;
    margin-top: 20px;
    margin-left: 30px;
}

ul.common-right-list li {
    float: left;
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3px 0 0;
    height: 25px;
    float: left;
}

.button_btn {
    width: 200px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #000;
    border: 2px solid #000;
    margin: 0 auto;
    cursor: pointer;
    background: #fff;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
}

.button_btn {
    width: 200px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #000;
    border: 2px solid #000;
    margin: 0 auto;
    cursor: pointer;
    background: #fff;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
}

.button_btn em {
    width: 200px;
    height: 0px;
    background: #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.button_btn em {
    height: 0px;
    position: absolute;
    left: 0;
    top: 18px;
    display: block;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button_btn:hover {
    color: #fff;
}

.button_btn:hover em {
    height: 360px;
    top: -162px;
}

footer .w1180 {
    background: url(./../images/bg_footer.jpg) no-repeat;
}

footer .w1180 .menu {
    width: 1180px;
    padding-top: 18px;
    overflow: hidden;
}

footer .w1180 .menu dt {
    width: 348px;
    height: 50px;
    float: left;
    overflow: hidden;
}

footer .w1180 .menu dd {
    width: 812px;
    height: 50px;
    float: left;
    overflow: hidden;
    padding: 10px 10px 0;
    text-align: center;
}

footer .w1180 .menu dd a {
    font-size: 16px;
    color: #bebebe;
    margin: 0 24px;
}

footer .w1180 .menu dd a:hover {
    color: #f60;
}

footer .w1180 .address {
    width: 1168px;
    overflow: hidden;
    padding-top: 24px;
}

footer .w1180 .address p {
    width: 378px;
    overflow: hidden;
    float: left;
    color: #595959;
    line-height: 30px;
}

footer .w1180 .address p.p2 {
    width: 410px;
}