@charset "utf-8";
.news-content {
    margin-bottom: 20px;
}

.news-content header {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    color: #666;
    margin-top: 30px;
}

.news-content .news-desc {
    text-align: center;
    font-size: 12px;
    color: #999;
    line-height: 50px;
}

.news-content .news-desc span {
    margin: 0 10px;
}

.news-content .news-tips {
    text-align: justify;
    font-size: 14px;
    color: #999;
    line-height: 24px;
    border: solid 1px #CCCCCC;
    margin-top: 10px;
    padding: 10px;
    text-indent: 2em;
}

.news-content p {
    line-height: 30px;
    text-indent: 2em;
    font-size: 14px;
    color: #444;
    font-family: "宋体";
    text-align: justify;
}

.news-content figure,
.news-content img {
    width: 700px;
    margin: 10px auto;
}

.news-content figure img {
    width: 100%;
}


/*******************************************************/


/* CSS Document */