/** Widths **/

.bc.container {
    width: 100%;
}

.bc.wfull {
    width: 100%;
    max-width: 100%;
}

$widths: 4096,
2560,
1920,
1440,
1366,
1280,
1200,
1180,
1100,
1080,
1000,
990,
950,
790,
760,
720,
660,
600,
560,
510,
520,
460,
420,
410,
380,
360,
310,
320,
260,
220,
210,
160;
@each $width in $widths {
    .bc.w#{$width} {
        width: 100%;
        max-width: #{$width}px;
        margin: auto;
    }
    .bc.wi#{$width} {
        width: #{$width}px;
        max-width: #{$width}px !important;
        min-width: #{$width}px !important;
        margin: auto;
    }
}


/** Absolute Center Widths **/

@each $width in $widths {
    .bc.c#{$width} {
        position: absolute;
        left: 50%;
        max-width: #{$width}px;
        min-width: #{$width}px;
        margin: auto;
        margin-left: -#{$width/2}px;
    }
}


/** Heights **/

.bc.hfull {
    height: 100%;
    max-height: 100%;
}

$heights: 30,
50,
90,
100,
120,
150,
180,
210,
240,
250,
260,
270,
280,
290,
300,
310,
320,
330,
360,
390,
420,
450,
460,
480,
510,
540,
550,
560,
570,
580,
590,
600,
630,
660,
690,
720,
750,
780;
@each $height in $heights {
    .bc.h#{$height} {
        height: #{$height}px;
        max-height: #{$height}px;
    }
    .bc.hi#{$height} {
        height: #{$height}px;
        max-height: #{$height}px !important;
        min-height: #{$height}px !important;
    }
}


/** MIN Widths **/

@each $width in $widths {
    .bc.mx-w#{$width} {
        max-width: #{$width}px;
    }
}

@each $width in $widths {
    .bc.mn-w#{$width} {
        min-width: #{$width}px;
    }
}


/** MIN Heights **/

@each $height in $heights {
    .bc.mx-h#{$height} {
        max-height: #{$height}px;
    }
}

@each $height in $heights {
    .bc.mn-h#{$height} {
        min-height: #{$height}px;
    }
}