/*
/** split to 9 pices | mainly for [1*9, 3*3, 9*1] **/

@for $i from 1 through 9 {
    .bc.grid-9>.nm-#{$i} {
        width: percentage($i/9);
        float: left;
    }
}


/*
/** split to 12 pices | for [1*12, 2*6, 3*4, 4*3, 6*2, 12*1] **/

@for $i from 1 through 12 {
    .bc.grid-12>.nm-#{$i} {
        width: percentage($i/12);
        float: left;
    }
}


/** split to 22 pices | for [2*11, 2*10+2, 3*7+1, 4*5+2, 5*4+2, 7*3+1] **/

.bc.grid-21>.nm-zero {
    width: 0px;
    float: left;
}

.bc.grid-21>.nm-quarter {
    width: 1.136363636363636%;
    float: left;
}

.bc.grid-21>.nm-third {
    width: 1.587301587301587%;
    float: left;
}

.bc.grid-21>.nm-half {
    width: 2.272727272727273%;
    float: left;
}

@for $i from 1 through 21 {
    .bc.grid-21>.nm-#{$i} {
        width: percentage($i/21);
        float: left;
    }
}


/** split to 40 pices | for [2*11, 2*10+2, 3*7+1, 4*5+2, 5*4+2, 7*3+1] **/

@for $i from 1 through 40 {
    .bc.grid-40>.nm-#{$i} {
        width: percentage($i/40);
        float: left;
    }
}