* {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
form,
input,
select,
label,
table,
tr,
th,
td,
hr,
article,
aside,
dialog,
footer,
header,
section,
nav,
figure,
menu,
span {
    overflow: hidden;
}

article,
aside,
dialog,
footer,
header,
hgroup,
main,
section,
nav,
figure,
menu {
    display: block
}

html {
    font-size: 125%;
}

body {
    font-size: 70%;
}

html,
body {
    width: 100%;
}

body {
    font-family: "Segoe UI", "Microsoft Yahei UI", "Microsoft Yahei", "Microsoft Sans Serif", "HanHei SC", PingHei, "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
    font-family: "Segoe UI", "Microsoft Yahei UI", "Microsoft Yahei", "Microsoft Sans Serif", "HanHei SC", PingHei, "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

form {
    display: block;
    margin-top: 0em;
}

ul {
    list-style: none;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    font-weight: bold;
    display: table-cell;
    vertical-align: inherit;
}

p {
    margin: 0px;
    padding: 0px;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}