.ic.popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ic.popup-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
}

.ic.popup-closer-trbcw {
    /* Top Right Black Circle White*/
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
    background: #000;
    margin-top: -220px;
    margin-left: 320px;
    border-radius: 50%;
    color: #FFF;
}

.ic.popup-document {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: transparent;
    overflow: hidden;
}