/*** EDITOR CODEAREA ***/

.bc.editor .bc.editor-codearea {
    resize: vertical;
    z-index: 0;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    color: #FFF;
    line-height: 20px;
    font-size: 13px;
    background-color: #012456;
    overflow-y: auto;
}

.bc.editor .bc.editor-codearea::selection {
    background-color: #FEDBA9;
    color: #000;
}

.bc.editor .bc.editor-codearea::-webkit-selection {
    background-color: #FEDBA9;
    color: #000;
}

.bc.editor .bc.editor-codearea::-moz-selection {
    background-color: #FEDBA9;
    color: #000;
}