/*** EDITOR TOOLBAR ICONS ***************************/

.bc.editor-toolarea .bc.editor-tool .bc.editor-icon {
    display: block;
}

.bc.editor-toolarea .bc.editor-icon:before {
    font-family: 'FontAwesome';
    font-style: normal;
    content: '\f042';
}


/* ------------------------- */

.bc.editor-toolarea .undo .bc.editor-icon:before {
    content: '\f112';
}

.bc.editor-toolarea .redo .bc.editor-icon:before {
    content: '\f064';
}


/* --------------- */

.bc.editor-toolarea .selectall .bc.editor-icon:before {
    content: '\f0c8';
}

.bc.editor-toolarea .copy .bc.editor-icon:before {
    content: '\f0c5';
}

.bc.editor-toolarea .paste .bc.editor-icon:before {
    content: '\f0ea';
}

.bc.editor-toolarea .cut .bc.editor-icon:before {
    content: '\f0c4';
}

.bc.editor-toolarea .delete .bc.editor-icon:before {
    content: '\f177';
}

.bc.editor-toolarea .cleardoc .bc.editor-icon:before {
    content: '\f014';
}

.bc.editor-toolarea .print .bc.editor-icon:before {
    content: '\f02f';
}


/* --------------- */

.bc.editor-toolarea .bold .bc.editor-icon:before {
    content: '\f032';
}

.bc.editor-toolarea .italic .bc.editor-icon:before {
    content: '\f033';
}

.bc.editor-toolarea .underline .bc.editor-icon:before {
    content: '\f0cd';
}

.bc.editor-toolarea .strikethrough .bc.editor-icon:before {
    content: '\f0cc';
}


/* --------------- */

.bc.editor-toolarea .fontname .bc.editor-icon:before {
    content: '\f031';
}

.bc.editor-toolarea .fontsize .bc.editor-icon:before {
    content: '\f035';
}

.bc.editor-toolarea .forecolor .bc.editor-icon:before {
    content: '\f040';
}

.bc.editor-toolarea .backcolor .bc.editor-icon:before {
    content: '\f14b';
}

.bc.editor-toolarea .lineheight .bc.editor-icon:before {
    content: '\f034';
}

.bc.editor-toolarea .touppercase .bc.editor-icon:before {
    line-height: 32px;
    content: 'TT';
}

.bc.editor-toolarea .tolowercase .bc.editor-icon:before {
    content: 'tt';
}


/* --------------- */

.bc.editor-toolarea .justifyleft .bc.editor-icon:before {
    content: '\f036';
}

.bc.editor-toolarea .justifycenter .bc.editor-icon:before {
    content: '\f037';
}

.bc.editor-toolarea .justifyright .bc.editor-icon:before {
    content: '\f038';
}

.bc.editor-toolarea .justifyfull .bc.editor-icon:before {
    content: '\f039';
}


/* --------------- */

.bc.editor-toolarea .outdent .bc.editor-icon:before {
    content: '\f03b';
}

.bc.editor-toolarea .indent .bc.editor-icon:before {
    content: '\f03c';
}


/* --------------- */

.bc.editor-toolarea .insertunorderedlist .bc.editor-icon:before {
    content: '\f0ca';
}

.bc.editor-toolarea .insertorderedlist .bc.editor-icon:before {
    content: '\f0cb';
}


/* --------------- */

.bc.editor-toolarea .fullscreen .bc.editor-icon:before {
    content: '\f0b2';
}


/* --------------- */

.bc.editor-toolarea .header .bc.editor-icon:before,
.bc.editor-toolarea .h1 .bc.editor-icon:before,
.bc.editor-toolarea .h2 .bc.editor-icon:before,
.bc.editor-toolarea .h3 .bc.editor-icon:before,
.bc.editor-toolarea .h4 .bc.editor-icon:before,
.bc.editor-toolarea .h5 .bc.editor-icon:before,
.bc.editor-toolarea .h6 .bc.editor-icon:before {
    content: '\f1dc';
}

.bc.editor-toolarea .p .bc.editor-icon:before {
    content: '\f1dd';
}

.bc.editor-toolarea .blockquote .bc.editor-icon:before {
    content: '\f10d';
}

.bc.editor-toolarea .removeformat .bc.editor-icon:before {
    content: '\f12d';
}


/* --------------- */

.bc.editor-toolarea .subscript .bc.editor-icon:before {
    content: '\f12c';
}

.bc.editor-toolarea .superscript .bc.editor-icon:before {
    content: '\f12b';
}

.bc.editor-toolarea .inserttime .bc.editor-icon:before {
    content: '\f017';
}

.bc.editor-toolarea .insertdate .bc.editor-icon:before {
    content: '\f073';
}


/* --------------- */

.bc.editor-toolarea .hr .bc.editor-icon:before {
    content: '\2014';
}

.bc.editor-toolarea .pagebreak .bc.editor-icon:before {
    content: '\f0db';
}


/* --------------- */

.bc.editor-toolarea .insertanchor .bc.editor-icon:before {
    content: '\f13d';
}

.bc.editor-toolarea .createlink .bc.editor-icon:before {
    content: '\f0c1';
}

.bc.editor-toolarea .unlink .bc.editor-icon:before {
    content: '\f127';
}

.bc.editor-toolarea .inserttable .bc.editor-icon:before {
    content: '\f0ce';
}


/* --------------- */

.bc.editor-toolarea .insertfile .bc.editor-icon:before {
    content: '\f0c6';
}

.bc.editor-toolarea .insertemoticon .bc.editor-icon:before {
    content: '\f118';
}

.bc.editor-toolarea .insertvideo .bc.editor-icon:before {
    content: '\f03d';
}

.bc.editor-toolarea .insertimage .bc.editor-icon:before {
    content: '\f03e';
}


/* --------------- */

.bc.editor-toolarea .source .bc.editor-icon:before {
    content: '\f121';
}

.bc.editor-toolarea .insertfragments .bc.editor-icon:before {
    content: '\f12e';
}