@charset "utf-8";

/*** TIME PICKER ***/

timepicker[state=on] {
    transition: opacity ease .5s;
}

timepicker[state=off] {
    transition: top ease .5s, opacity ease .5s;
}

timepicker * {
    display: none;
}

timepicker outclicle {
    display: block;
    position: absolute;
    width: 7000px;
    height: 7000px;
    top: 200%;
    left: 50%;
    margin-top: -350px;
    margin-left: -3500px;
    background-color: rgba(100%, 100%, 100%, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    border-radius: 50%;
}

timepicker outclicle {
    transition: top ease .3s;
}

timepicker[state=on] outclicle {
    top: 100%;
}


/**********************************************/

timepicker outclicle display {
    display: block;
    position: absolute;
    width: 656px;
    top: 0;
    left: 50%;
    height: 130px;
    margin-top: 50px;
    margin-left: -478px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 65px 10px 10px 10px;
}

timepicker outclicle display list {
    display: none;
}

timepicker outclicle display list[actived] {
    display: block;
}

timepicker outclicle display list item {
    float: left;
    cursor: pointer;
}


/**********************************************/

timepicker outclicle display list {
    height: 50px;
    margin: 40px auto;
}

timepicker outclicle display list[type=datetime] {
    width: 620px;
}

timepicker outclicle display list[type=fulldate] {
    width: 330px;
}

timepicker outclicle display list[type=dayofyear] {
    width: 400px;
}

timepicker outclicle display list[type=timeofday] {
    width: 290px;
}

timepicker outclicle display list[type=hourminute] {
    width: 220px;
}

timepicker outclicle display list[type=fulldate],
timepicker outclicle display list[type=dayofyear],
timepicker outclicle display list[type=timeofday],
timepicker outclicle display list[type=hourminute] {
    transform: scale(2, 2);
}

timepicker outclicle display list[type=dayofweek] {
    width: 656px;
    height: 130px;
    margin: 0;
}

timepicker outclicle display list[type=dayofweek]::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 64px;
    left: 0;
    background-color: rgba(201, 201, 201, .5);
    content: "";
    z-index: -99;
}


/**********************************************/

timepicker outclicle display list item {
    display: block;
}

timepicker outclicle display list item[type=year],
timepicker outclicle display list item[type=month],
timepicker outclicle display list item[type=mon],
timepicker outclicle display list item[type=date] {
    height: 50px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 36px;
    background-color: rgba(102, 153, 255, .8);
    color: #fff;
}

timepicker outclicle display list item[type=year] {
    width: 110px;
    margin-left: 50px;
}

timepicker outclicle display list item[type=month] {
    width: 240px;
    margin-left: 50px;
}

timepicker outclicle display list item[type=mon],
timepicker outclicle display list item[type=date] {
    width: 50px;
}

timepicker outclicle display list item[type=date] {
    margin-right: 50px;
}

timepicker outclicle display list item[type=year]::after,
timepicker outclicle display list item[type=mon]::after,
timepicker outclicle display list item[type=month]::after,
timepicker outclicle display list item[type=date]::after,
timepicker outclicle display list item[type=hour]::after,
timepicker outclicle display list item[type=minute]::after,
timepicker outclicle display list item[type=first]::after,
timepicker outclicle display list item[type=second]::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 24px;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    content: "";
}

timepicker outclicle display list item[type=hour],
timepicker outclicle display list item[type=minute],
timepicker outclicle display list item[type=first],
timepicker outclicle display list item[type=second] {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    line-height: 47px;
    font-size: 36px;
    background-color: rgba(102, 153, 255, .8);
    color: #fff;
    overflow: visible;
}

timepicker outclicle display list item[type=hour] {
    margin-left: 50px;
}

timepicker outclicle display list item[type=minute],
timepicker outclicle display list item[type=second] {
    margin-right: 50px;
}

timepicker outclicle display list item[type=hour]::before,
timepicker outclicle display list item[type=first]::before {
    display: block;
    position: absolute;
    width: 20px;
    height: 50px;
    top: 0;
    left: 50px;
    line-height: 40px;
    content: ":";
    z-index: -99;
}

timepicker outclicle display list item[type=day] {
    width: 600px;
    height: 80px;
    margin: 25px 28px;
    text-align: center;
    line-height: 71px;
    font-size: 72px;
    color: #181818;
    transform: scale(1.4, 1.4);
}


/**********************************************/

timepicker outclicle buttons {
    display: block;
    position: absolute;
    width: 236px;
    top: 0;
    left: 50%;
    height: 90px;
    margin-top: 70px;
    margin-left: 242px;
}

timepicker outclicle buttons click {
    display: block;
    position: absolute;
    width: 116px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

timepicker outclicle buttons click[type=reset] {
    background-color: rgba(153, 153, 153, 0.8);
    top: 3px;
    left: 0;
}

timepicker outclicle buttons click[type=cancel] {
    background-color: rgba(102, 204, 153, 0.8);
    top: 3px;
    left: 120px;
}

timepicker outclicle buttons click[type=confirm] {
    width: 236px;
    background-color: rgba(255, 0, 51, 0.8);
    top: 47px;
    left: 0;
}

timepicker outclicle buttons click[type=reset]:hover {
    background-color: rgba(102, 102, 102, 1);
}

timepicker outclicle buttons click[type=cancel]:hover {
    background-color: rgba(51, 204, 102, 1);
}

timepicker outclicle buttons click[type=confirm]:hover {
    background-color: rgba(255, 0, 51, 1);
}


/**********************************************/

timepicker outclicle pickers {
    display: block;
    position: absolute;
    width: 1000px;
    height: 360px;
    top: 200px;
    left: 50%;
    margin-left: -500px;
}

timepicker outclicle pickers sheet {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 300px;
    left: 0;
    opacity: 0;
    z-index: -99;
}

timepicker outclicle pickers sheet[actived] {
    opacity: 1;
    top: 10px;
    z-index: 99;
    transition: opacity ease-in .3s;
}

timepicker outclicle pickers list,
timepicker outclicle pickers list item {
    display: block;
}


/**********************************************/

timepicker outclicle pickers sheet list item {
    float: left;
    height: 26px;
    margin: 2px;
    line-height: 26px;
    background-color: rgba(102, 204, 255, .8);
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

timepicker outclicle pickers sheet list item[leap],
timepicker outclicle pickers sheet list item[autumn],
timepicker outclicle pickers sheet list item[weekend],
timepicker outclicle pickers sheet list item[am] {
    background-color: rgba(255, 204, 102, 0.8);
}

timepicker outclicle pickers sheet list item[summer],
timepicker outclicle pickers sheet list item[int],
timepicker outclicle pickers sheet list item[am][int] {
    background-color: rgba(255, 102, 102, 0.8);
}

timepicker outclicle pickers sheet list item[spring] {
    background-color: rgba(102, 255, 102, 0.8);
}

timepicker outclicle pickers sheet list item[winter] {
    background-color: rgba(255, 255, 255, 0.8);
    color: #666;
}

timepicker outclicle pickers sheet list item[pm] {
    background-color: rgba(53, 53, 53, 0.8);
}

timepicker outclicle pickers sheet list item[pm][int] {
    background-color: rgba(153, 53, 53, 0.8);
}

timepicker outclicle pickers sheet list item[selected] {
    background-color: rgba(255, 51, 102, 1) !important;
    color: #fff !important;
}

timepicker outclicle pickers sheet list item:hover {
    background-color: rgba(255, 51, 102, .8) !important;
    color: #fff !important;
}

timepicker outclicle pickers sheet list item[head],
timepicker outclicle pickers sheet list item[head]:hover {
    background-color: transparent !important;
    color: #666 !important;
    font-size: 12px !important;
    cursor: default;
}

timepicker outclicle pickers sheet list item[placeholder],
timepicker outclicle pickers sheet list item[placeholder]:hover {
    background-color: rgba(153, 153, 153, 0.5) !important;
    cursor: default;
}


/**********************************************/

timepicker outclicle pickers sheet list {
    width: 960px;
    margin: 0 auto;
}

timepicker outclicle pickers sheet[type=dates] list,
timepicker outclicle pickers sheet[type=days] list {
    width: 980px;
    margin: 0 auto;
}


/**********************************************/

timepicker outclicle pickers sheet[type=years] list item {
    width: 56px;
}

timepicker outclicle pickers sheet[type=years] list item[prev],
timepicker outclicle pickers sheet[type=years] list item[next] {
    width: 116px;
    background-color: rgba(153, 153, 153, 0.8);
}

timepicker outclicle pickers sheet[type=months] list item {
    width: 76px;
    height: 76px;
    margin: 22px 2px;
    line-height: 76px;
    font-size: 30px;
}

timepicker outclicle pickers sheet[type=dates] list item {
    width: 56px;
    margin: 2px 7px;
    font-size: 18px;
}

timepicker outclicle pickers sheet[type=hours] list item {
    width: 76px;
    height: 56px;
    line-height: 56px;
    font-size: 30px;
}

timepicker outclicle pickers sheet[type=minutes] list item {
    width: 60px;
}

timepicker outclicle pickers sheet[type=days] list item {
    width: 116px;
    height: 116px;
    margin: 2px 12px;
    line-height: 116px;
    font-size: 36px;
}

timepicker list item el[bctag] {
    display: block;
    position: absolute;
    top: -5px;
    right: -8px;
    width: 32px;
    height: 20px;
    background-color: rgba(255, 51, 102, .6);
    transform: scale(.5, .5);
    opacity: .5;
}

timepicker list item el[bctag]::before {
    display: block;
    width: 36px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    content: 'BC';
}