/*********************************************
 ********** Block.JS SEE UI Framework **********
 **********  Class _.see.ScrollBar  **********
 *********************************************/

.scroll-doc-container {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
}

.scroll-bar-vertical {
    position: absolute;
    width: 16px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
}

.scroll-bar-horizontal {
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0;
    left: 0;
    z-index: 10000;
}


/*********************************************
 ********** Block.JS SEE UI Framework **********
 **********  class _.see.ScrollBar  **********
 **********       theme   dark      **********
 *********************************************/

.bc.scrollbar.default-dark .scroll-bar-vertical {
    width: 6px;
}

.bc.scrollbar.default-dark .scroll-bar-vertical .scroll-bar {
    width: 6px;
    cursor: default;
}

.bc.scrollbar.default-dark .scroll-bar-vertical .scroll-bar .scroll-rail {
    width: 6px;
    margin: 0;
    background: #666;
    z-index: 100;
}

.bc.scrollbar.default-dark .scroll-bar-vertical .scroll-bar .scroll-dragger {
    width: 6px;
    margin: 0;
    background: #484848;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.bc.scrollbar.default-dark .scroll-bar-vertical .scroll-bar .scroll-dragger:hover {
    background: #282828;
}

.bc.scrollbar.default-dark .scroll-bar-vertical .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.default-dark .scroll-bar-vertical .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.default-dark .scroll-bar-horizontal .scroll-bar {
    height: 6px;
    cursor: default;
}

.bc.scrollbar.default-dark .scroll-bar-horizontal .scroll-bar .scroll-rail {
    height: 6px;
    margin: 0;
    background: #666;
    z-index: 100;
}

.bc.scrollbar.default-dark .scroll-bar-horizontal .scroll-bar .scroll-dragger {
    height: 6px;
    margin: 0;
    background: #484848;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.bc.scrollbar.default-dark .scroll-bar-horizontal .scroll-bar .scroll-dragger:hover {
    background: #282828;
}

.bc.scrollbar.default-dark .scroll-bar-horizontal .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.default-dark .scroll-bar-horizontal .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px;
}


/*********************************************
 ********** Block.JS SEE UI Framework **********
 **********  class _.see.ScrollBar  **********
 **********       theme   dark      **********
 *********************************************/

.bc.scrollbar.default-light .scroll-bar-vertical {
    width: 3px;
}

.bc.scrollbar.default-light .scroll-bar-vertical .scroll-bar {
    width: 3px;
    cursor: default;
}

.bc.scrollbar.default-light .scroll-bar-vertical .scroll-bar .scroll-rail {
    width: 3px;
    margin: 0;
    background: #999;
    z-index: 100;
}

.bc.scrollbar.default-light .scroll-bar-vertical .scroll-bar .scroll-dragger {
    width: 3px;
    margin: 0;
    background: #ccc;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.bc.scrollbar.default-light .scroll-bar-vertical .scroll-bar .scroll-dragger:hover {
    background: #fff;
}

.bc.scrollbar.default-light .scroll-bar-vertical .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.default-light .scroll-bar-vertical .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.default-light .scroll-bar-horizontal .scroll-bar {
    height: 3px;
    cursor: default;
}

.bc.scrollbar.default-light .scroll-bar-horizontal .scroll-bar .scroll-rail {
    height: 3px;
    margin: 0;
    background: #999;
    z-index: 100;
}

.bc.scrollbar.default-light .scroll-bar-horizontal .scroll-bar .scroll-dragger {
    height: 3px;
    margin: 0;
    background: #ccc;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.bc.scrollbar.default-light .scroll-bar-horizontal .scroll-bar .scroll-dragger:hover {
    background: #fff;
}

.bc.scrollbar.default-light .scroll-bar-horizontal .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.default-light .scroll-bar-horizontal .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px;
}


/*********************************************
 ********** Block.JS SEE UI Framework **********
 **********  class _.see.ScrollBar  **********
 **********      theme  weiming     **********
 *********************************************/

.bc.scrollbar.weiming .scroll-bar-vertical .scroll-bar {
    width: 16px;
    cursor: default;
}

.bc.scrollbar.weiming .scroll-bar-vertical .scroll-bar .scroll-rail {
    width: 4px;
    margin: 0px 6px;
    background: #FFF;
    z-index: 100;
}

.bc.scrollbar.weiming .scroll-bar-vertical .scroll-bar .scroll-dragger {
    width: 6px;
    margin: 0px 5px;
    background: #DDD;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.bc.scrollbar.weiming .scroll-bar-vertical .scroll-bar .scroll-dragger:hover {
    background: #CCC;
}

.bc.scrollbar.weiming .scroll-bar-vertical .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.weiming .scroll-bar-vertical .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.weiming .scroll-bar-horizontal .scroll-bar {
    height: 16px;
    cursor: default;
}

.bc.scrollbar.weiming .scroll-bar-horizontal .scroll-bar .scroll-rail {
    height: 4px;
    margin: 6px 0px;
    background: #FFF;
    z-index: 100;
}

.bc.scrollbar.weiming .scroll-bar-horizontal .scroll-bar .scroll-dragger {
    height: 6px;
    margin: 5px 0px;
    background: #DDD;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.bc.scrollbar.weiming .scroll-bar-horizontal .scroll-bar .scroll-dragger:hover {
    background: #CCC;
}

.bc.scrollbar.weiming .scroll-bar-horizontal .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.weiming .scroll-bar-horizontal .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px;
}


/*********************************************
 ********** Block.JS SEE UI Framework **********
 **********  class _.see.ScrollBar  **********
 **********       theme   dark      **********
 *********************************************/

.bc.scrollbar.dark .scroll-bar-vertical {
    width: 6px;
}

.bc.scrollbar.dark .scroll-bar-vertical .scroll-bar {
    width: 6px;
    cursor: default;
}

.bc.scrollbar.dark .scroll-bar-vertical .scroll-bar .scroll-rail {
    width: 6px;
    margin: 0;
    background: #666;
    z-index: 100;
}

.bc.scrollbar.dark .scroll-bar-vertical .scroll-bar .scroll-dragger {
    width: 6px;
    margin: 0;
    background: #484848;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.bc.scrollbar.dark .scroll-bar-vertical .scroll-bar .scroll-dragger:hover {
    background: #282828;
}

.bc.scrollbar.dark .scroll-bar-vertical .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.dark .scroll-bar-vertical .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.dark .scroll-bar-horizontal .scroll-bar {
    height: 6px;
    cursor: default;
}

.bc.scrollbar.dark .scroll-bar-horizontal .scroll-bar .scroll-rail {
    height: 6px;
    margin: 0;
    background: #666;
    z-index: 100;
}

.bc.scrollbar.dark .scroll-bar-horizontal .scroll-bar .scroll-dragger {
    height: 6px;
    margin: 0;
    background: #484848;
    position: absolute;
    z-index: 200;
    cursor: pointer;
}

.bc.scrollbar.dark .scroll-bar-horizontal .scroll-bar .scroll-dragger:hover {
    background: #282828;
}

.bc.scrollbar.dark .scroll-bar-horizontal .scroll-button-prev {
    display: none;
    width: 0px;
    height: 0px;
}

.bc.scrollbar.dark .scroll-bar-horizontal .scroll-button-next {
    display: none;
    width: 0px;
    height: 0px;
}


/*# sourceMappingURL=style.css.map */