/*********************************************
 ********** Block.JS SEE UI Framework **********
 *********************************************/


/** Elements Initialization **/

* {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

div,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
form,
input,
select,
label,
table,
tr,
th,
td,
hr,
article,
aside,
dialog,
footer,
header,
section,
nav,
figure,
menu,
span {
    overflow: hidden;
}

article,
aside,
dialog,
footer,
header,
hgroup,
main,
section,
nav,
figure,
menu {
    display: block;
}

html {
    font-size: 125%;
}

body {
    font-size: 70%;
}

html,
body {
    width: 100%;
}

body {
    font-family: "Segoe UI", "Microsoft Yahei UI", "Microsoft Yahei", "Microsoft Sans Serif", "HanHei SC", PingHei, "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
    font-family: "Segoe UI", "Microsoft Yahei UI", "Microsoft Yahei", "Microsoft Sans Serif", "HanHei SC", PingHei, "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

form {
    display: block;
    margin-top: 0em;
}

ul {
    list-style: none;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    font-weight: bold;
    display: table-cell;
    vertical-align: inherit;
}

p {
    margin: 0px;
    padding: 0px;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
}


/** Display **/

.bc.inline {
    display: inline;
}

.bc.block {
    display: block;
}

.bc.inline.block {
    display: inline-block;
}

.bc.hidden {
    display: none;
}

.bc.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}

.bc.pointer {
    cursor: pointer;
}

.bc.cursor {
    cursor: default;
}

.bc.op-00 {
    opacity: 0;
    filter: alpha(opacity=0);
}

.bc.op-10 {
    opacity: 0.1;
    filter: alpha(opacity=10);
}

.bc.op-20 {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.bc.op-30 {
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.bc.op-40 {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.bc.op-50 {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.bc.op-60 {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.bc.op-70 {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.bc.op-80 {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.bc.op-90 {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.bc.op-100 {
    opacity: 1;
    filter: alpha(opacity=100);
}

.bc.ov-visi {
    overflow: visible;
}

.bc.ov-hide {
    overflow: hidden;
}

.bc.ov-scrl {
    overflow: scroll;
}

.bc.ov-auto {
    overflow: auto;
}

.bc.oy-visi {
    overflow-y: visible;
}

.bc.oy-scrl {
    overflow-y: scroll;
}

.bc.oy-auto {
    overflow-y: auto;
}


/*
/** Border Radius **/

.bc.fillet {
    border-radius: 2%;
}

.bc.fillet10 {
    border-radius: 10px;
}

.bc.circle {
    border-radius: 50%;
}

.bc.radius-2 {
    border-radius: 2px;
}

.bc.radius-3 {
    border-radius: 3px;
}

.bc.radius-4 {
    border-radius: 4px;
}

.bc.radius-5 {
    border-radius: 5px;
}

.bc.radius-10 {
    border-radius: 10px;
}

.bc.radius-20 {
    border-radius: 20px;
}


/** Gradual **/


/** Compositions **/

.bc.lh-15 {
    line-height: 0.75rem;
}

.bc.lh-18 {
    line-height: 0.9rem;
}

.bc.lh-21 {
    line-height: 1.05rem;
}

.bc.lh-24 {
    line-height: 1.2rem;
}

.bc.lh-27 {
    line-height: 1.35rem;
}

.bc.lh-30 {
    line-height: 1.5rem;
}

.bc.lh-33 {
    line-height: 1.65rem;
}

.bc.lh-36 {
    line-height: 1.8rem;
}

.bc.lh-40 {
    line-height: 2rem;
}

.bc.lh-48 {
    line-height: 2.4rem;
}

.bc.lh-48 {
    line-height: 2.4rem;
}

.bc.lh-60 {
    line-height: 3rem;
}

.bc.lh-72 {
    line-height: 3.6rem;
}

.bc.lh-84 {
    line-height: 4.2rem;
}

.bc.lh-96 {
    line-height: 4.8rem;
}

.bc.lh-120 {
    line-height: 6rem;
}

.bc.lh-156 {
    line-height: 7.8rem;
}

.bc.al-left {
    text-align: left;
}

.bc.al-right {
    text-align: right;
}

.bc.al-center {
    text-align: center;
}

.bc.al-just {
    text-align: justify;
}

.bc.indent-05 {
    text-indent: .5em;
}

.bc.indent-10 {
    text-indent: 1em;
}

.bc.indent-20 {
    text-indent: 2em;
}

.bc.indent-30 {
    text-indent: 3em;
}


/** Background Colour **/

.bc.bg-fff {
    background-color: #FFFFFF;
    color: #111111;
}

.bc.bg-white {
    background-color: #FFFFFF;
    color: #111111;
}

.bc.bg-f6 {
    background-color: #F6F6F6;
    color: #555;
}

.bc.bg-light {
    background-color: #E6E6E6;
    color: #000000;
}

.bc.bg-ashy {
    background-color: #CCCCCC;
    color: #333333;
}

.bc.bg-999 {
    background-color: #999999;
    color: #FFFFFF;
}

.bc.bg-midgray {
    background-color: #888888;
    color: #FFFFFF;
}

.bc.bg-666 {
    background-color: #666666;
    color: #FFFFFF;
}

.bc.bg-333 {
    background-color: #333333;
    color: #EEEEEE;
}

.bc.bg-deepgray {
    background-color: #333333;
    color: #EEEEEE;
}

.bc.bg-222 {
    background-color: #222;
    color: #EEEEEE;
}

.bc.bg-dark {
    background-color: #181818;
    color: #FFFFFF;
}

.bc.bg-111 {
    background-color: #111111;
    color: #EEEEEE;
}

.bc.bg-deepdark {
    background-color: #111111;
    color: #EEEEEE;
}

.bc.bg-0 {
    background-color: #000000;
    color: #EEEEEE;
}

.bc.bg-black {
    background-color: #000000;
    color: #EEEEEE;
}


/** Font Colour **/

.bc.ft-fff {
    color: #FFFFFF;
}

.bc.ft-e6 {
    color: #E6E6E6;
}

.bc.ft-ccc {
    color: #CCCCCC;
}

.bc.ft-888 {
    color: #888888;
}

.bc.ft-999 {
    color: #999999;
}

.bc.ft-666 {
    color: #666666;
}

.bc.ft-0 {
    color: #000000;
}

.bc.ft-red {
    color: #FF0000;
}

.bc.ft-violet {
    color: #003AA6;
}

.bc.ft-modena {
    color: #036;
}

.hover-green:hover {
    background: #3C0 !important;
}

.hover-blue:hover {
    background: #06F !important;
}

.hover-red:hover {
    background: #C33 !important;
}

.hover-color-dark:hover {
    color: #999 !important;
}

.hover-color-white:hover {
    color: #FFF !important;
}

.hover-color-blue:hover {
    color: #36F !important;
}


/** Font Size **/

.bc.f11,
.bc.ft-11 {
    font-size: 0.55rem;
}

.bc.f12,
.bc.ft-12 {
    font-size: 0.6rem;
}

.bc.f13,
.bc.ft-13 {
    font-size: 0.65rem;
}

.bc.f14,
.bc.ft-14 {
    font-size: 0.7rem;
}

.bc.f15,
.bc.ft-15 {
    font-size: 0.75rem;
}

.bc.f16,
.bc.ft-16 {
    font-size: 0.8rem;
}

.bc.f17,
.bc.ft-17 {
    font-size: 0.85rem;
}

.bc.f18,
.bc.ft-18 {
    font-size: 0.9rem;
}

.bc.f21,
.bc.ft-21 {
    font-size: 1.05rem;
}

.bc.f24,
.bc.ft-24 {
    font-size: 1.2rem;
}

.bc.f27,
.bc.ft-27 {
    font-size: 1.35rem;
}

.bc.f30,
.bc.ft-30 {
    font-size: 1.5rem;
}

.bc.f36,
.bc.ft-36 {
    font-size: 1.8rem;
}

.bc.f48,
.bc.ft-48 {
    font-size: 2.4rem;
}

.bc.f60,
.bc.ft-60 {
    font-size: 3rem;
}

.bc.f72,
.bc.ft-72 {
    font-size: 3.6rem;
}

.bc.ft-lighter {
    font-weight: lighter;
}

.bc.ft-blod {
    font-weight: bold;
}


/** Basic Block **/


/** Widths **/

.bc.container {
    width: 100%;
}

.bc.wfull {
    width: 100%;
    max-width: 100%;
}

.bc.w4096 {
    width: 100%;
    max-width: 4096px;
    margin: auto;
}

.bc.wi4096 {
    width: 4096px;
    max-width: 4096px !important;
    min-width: 4096px !important;
    margin: auto;
}

.bc.w2560 {
    width: 100%;
    max-width: 2560px;
    margin: auto;
}

.bc.wi2560 {
    width: 2560px;
    max-width: 2560px !important;
    min-width: 2560px !important;
    margin: auto;
}

.bc.w1920 {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.bc.wi1920 {
    width: 1920px;
    max-width: 1920px !important;
    min-width: 1920px !important;
    margin: auto;
}

.bc.w1440 {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.bc.wi1440 {
    width: 1440px;
    max-width: 1440px !important;
    min-width: 1440px !important;
    margin: auto;
}

.bc.w1366 {
    width: 100%;
    max-width: 1366px;
    margin: auto;
}

.bc.wi1366 {
    width: 1366px;
    max-width: 1366px !important;
    min-width: 1366px !important;
    margin: auto;
}

.bc.w1280 {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.bc.wi1280 {
    width: 1280px;
    max-width: 1280px !important;
    min-width: 1280px !important;
    margin: auto;
}

.bc.w1200 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.bc.wi1200 {
    width: 1200px;
    max-width: 1200px !important;
    min-width: 1200px !important;
    margin: auto;
}

.bc.w1180 {
    width: 100%;
    max-width: 1180px;
    margin: auto;
}

.bc.wi1180 {
    width: 1180px;
    max-width: 1180px !important;
    min-width: 1180px !important;
    margin: auto;
}

.bc.w1100 {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.bc.wi1100 {
    width: 1100px;
    max-width: 1100px !important;
    min-width: 1100px !important;
    margin: auto;
}

.bc.w1080 {
    width: 100%;
    max-width: 1080px;
    margin: auto;
}

.bc.wi1080 {
    width: 1080px;
    max-width: 1080px !important;
    min-width: 1080px !important;
    margin: auto;
}

.bc.w1000 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.bc.wi1000 {
    width: 1000px;
    max-width: 1000px !important;
    min-width: 1000px !important;
    margin: auto;
}

.bc.w990 {
    width: 100%;
    max-width: 990px;
    margin: auto;
}

.bc.wi990 {
    width: 990px;
    max-width: 990px !important;
    min-width: 990px !important;
    margin: auto;
}

.bc.w950 {
    width: 100%;
    max-width: 950px;
    margin: auto;
}

.bc.wi950 {
    width: 950px;
    max-width: 950px !important;
    min-width: 950px !important;
    margin: auto;
}

.bc.w790 {
    width: 100%;
    max-width: 790px;
    margin: auto;
}

.bc.wi790 {
    width: 790px;
    max-width: 790px !important;
    min-width: 790px !important;
    margin: auto;
}

.bc.w760 {
    width: 100%;
    max-width: 760px;
    margin: auto;
}

.bc.wi760 {
    width: 760px;
    max-width: 760px !important;
    min-width: 760px !important;
    margin: auto;
}

.bc.w720 {
    width: 100%;
    max-width: 720px;
    margin: auto;
}

.bc.wi720 {
    width: 720px;
    max-width: 720px !important;
    min-width: 720px !important;
    margin: auto;
}

.bc.w660 {
    width: 100%;
    max-width: 660px;
    margin: auto;
}

.bc.wi660 {
    width: 660px;
    max-width: 660px !important;
    min-width: 660px !important;
    margin: auto;
}

.bc.w600 {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.bc.wi600 {
    width: 600px;
    max-width: 600px !important;
    min-width: 600px !important;
    margin: auto;
}

.bc.w560 {
    width: 100%;
    max-width: 560px;
    margin: auto;
}

.bc.wi560 {
    width: 560px;
    max-width: 560px !important;
    min-width: 560px !important;
    margin: auto;
}

.bc.w510 {
    width: 100%;
    max-width: 510px;
    margin: auto;
}

.bc.wi510 {
    width: 510px;
    max-width: 510px !important;
    min-width: 510px !important;
    margin: auto;
}

.bc.w520 {
    width: 100%;
    max-width: 520px;
    margin: auto;
}

.bc.wi520 {
    width: 520px;
    max-width: 520px !important;
    min-width: 520px !important;
    margin: auto;
}

.bc.w460 {
    width: 100%;
    max-width: 460px;
    margin: auto;
}

.bc.wi460 {
    width: 460px;
    max-width: 460px !important;
    min-width: 460px !important;
    margin: auto;
}

.bc.w420 {
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.bc.wi420 {
    width: 420px;
    max-width: 420px !important;
    min-width: 420px !important;
    margin: auto;
}

.bc.w410 {
    width: 100%;
    max-width: 410px;
    margin: auto;
}

.bc.wi410 {
    width: 410px;
    max-width: 410px !important;
    min-width: 410px !important;
    margin: auto;
}

.bc.w380 {
    width: 100%;
    max-width: 380px;
    margin: auto;
}

.bc.wi380 {
    width: 380px;
    max-width: 380px !important;
    min-width: 380px !important;
    margin: auto;
}

.bc.w360 {
    width: 100%;
    max-width: 360px;
    margin: auto;
}

.bc.wi360 {
    width: 360px;
    max-width: 360px !important;
    min-width: 360px !important;
    margin: auto;
}

.bc.w310 {
    width: 100%;
    max-width: 310px;
    margin: auto;
}

.bc.wi310 {
    width: 310px;
    max-width: 310px !important;
    min-width: 310px !important;
    margin: auto;
}

.bc.w320 {
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.bc.wi320 {
    width: 320px;
    max-width: 320px !important;
    min-width: 320px !important;
    margin: auto;
}

.bc.w260 {
    width: 100%;
    max-width: 260px;
    margin: auto;
}

.bc.wi260 {
    width: 260px;
    max-width: 260px !important;
    min-width: 260px !important;
    margin: auto;
}

.bc.w220 {
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.bc.wi220 {
    width: 220px;
    max-width: 220px !important;
    min-width: 220px !important;
    margin: auto;
}

.bc.w210 {
    width: 100%;
    max-width: 210px;
    margin: auto;
}

.bc.wi210 {
    width: 210px;
    max-width: 210px !important;
    min-width: 210px !important;
    margin: auto;
}

.bc.w160 {
    width: 100%;
    max-width: 160px;
    margin: auto;
}

.bc.wi160 {
    width: 160px;
    max-width: 160px !important;
    min-width: 160px !important;
    margin: auto;
}


/** Absolute Center Widths **/

.bc.c4096 {
    position: absolute;
    left: 50%;
    max-width: 4096px;
    min-width: 4096px;
    margin: auto;
    margin-left: -2048px;
}

.bc.c2560 {
    position: absolute;
    left: 50%;
    max-width: 2560px;
    min-width: 2560px;
    margin: auto;
    margin-left: -1280px;
}

.bc.c1920 {
    position: absolute;
    left: 50%;
    max-width: 1920px;
    min-width: 1920px;
    margin: auto;
    margin-left: -960px;
}

.bc.c1440 {
    position: absolute;
    left: 50%;
    max-width: 1440px;
    min-width: 1440px;
    margin: auto;
    margin-left: -720px;
}

.bc.c1366 {
    position: absolute;
    left: 50%;
    max-width: 1366px;
    min-width: 1366px;
    margin: auto;
    margin-left: -683px;
}

.bc.c1280 {
    position: absolute;
    left: 50%;
    max-width: 1280px;
    min-width: 1280px;
    margin: auto;
    margin-left: -640px;
}

.bc.c1200 {
    position: absolute;
    left: 50%;
    max-width: 1200px;
    min-width: 1200px;
    margin: auto;
    margin-left: -600px;
}

.bc.c1180 {
    position: absolute;
    left: 50%;
    max-width: 1180px;
    min-width: 1180px;
    margin: auto;
    margin-left: -590px;
}

.bc.c1100 {
    position: absolute;
    left: 50%;
    max-width: 1100px;
    min-width: 1100px;
    margin: auto;
    margin-left: -550px;
}

.bc.c1080 {
    position: absolute;
    left: 50%;
    max-width: 1080px;
    min-width: 1080px;
    margin: auto;
    margin-left: -540px;
}

.bc.c1000 {
    position: absolute;
    left: 50%;
    max-width: 1000px;
    min-width: 1000px;
    margin: auto;
    margin-left: -500px;
}

.bc.c990 {
    position: absolute;
    left: 50%;
    max-width: 990px;
    min-width: 990px;
    margin: auto;
    margin-left: -495px;
}

.bc.c950 {
    position: absolute;
    left: 50%;
    max-width: 950px;
    min-width: 950px;
    margin: auto;
    margin-left: -475px;
}

.bc.c790 {
    position: absolute;
    left: 50%;
    max-width: 790px;
    min-width: 790px;
    margin: auto;
    margin-left: -395px;
}

.bc.c760 {
    position: absolute;
    left: 50%;
    max-width: 760px;
    min-width: 760px;
    margin: auto;
    margin-left: -380px;
}

.bc.c720 {
    position: absolute;
    left: 50%;
    max-width: 720px;
    min-width: 720px;
    margin: auto;
    margin-left: -360px;
}

.bc.c660 {
    position: absolute;
    left: 50%;
    max-width: 660px;
    min-width: 660px;
    margin: auto;
    margin-left: -330px;
}

.bc.c600 {
    position: absolute;
    left: 50%;
    max-width: 600px;
    min-width: 600px;
    margin: auto;
    margin-left: -300px;
}

.bc.c560 {
    position: absolute;
    left: 50%;
    max-width: 560px;
    min-width: 560px;
    margin: auto;
    margin-left: -280px;
}

.bc.c510 {
    position: absolute;
    left: 50%;
    max-width: 510px;
    min-width: 510px;
    margin: auto;
    margin-left: -255px;
}

.bc.c520 {
    position: absolute;
    left: 50%;
    max-width: 520px;
    min-width: 520px;
    margin: auto;
    margin-left: -260px;
}

.bc.c460 {
    position: absolute;
    left: 50%;
    max-width: 460px;
    min-width: 460px;
    margin: auto;
    margin-left: -230px;
}

.bc.c420 {
    position: absolute;
    left: 50%;
    max-width: 420px;
    min-width: 420px;
    margin: auto;
    margin-left: -210px;
}

.bc.c410 {
    position: absolute;
    left: 50%;
    max-width: 410px;
    min-width: 410px;
    margin: auto;
    margin-left: -205px;
}

.bc.c380 {
    position: absolute;
    left: 50%;
    max-width: 380px;
    min-width: 380px;
    margin: auto;
    margin-left: -190px;
}

.bc.c360 {
    position: absolute;
    left: 50%;
    max-width: 360px;
    min-width: 360px;
    margin: auto;
    margin-left: -180px;
}

.bc.c310 {
    position: absolute;
    left: 50%;
    max-width: 310px;
    min-width: 310px;
    margin: auto;
    margin-left: -155px;
}

.bc.c320 {
    position: absolute;
    left: 50%;
    max-width: 320px;
    min-width: 320px;
    margin: auto;
    margin-left: -160px;
}

.bc.c260 {
    position: absolute;
    left: 50%;
    max-width: 260px;
    min-width: 260px;
    margin: auto;
    margin-left: -130px;
}

.bc.c220 {
    position: absolute;
    left: 50%;
    max-width: 220px;
    min-width: 220px;
    margin: auto;
    margin-left: -110px;
}

.bc.c210 {
    position: absolute;
    left: 50%;
    max-width: 210px;
    min-width: 210px;
    margin: auto;
    margin-left: -105px;
}

.bc.c160 {
    position: absolute;
    left: 50%;
    max-width: 160px;
    min-width: 160px;
    margin: auto;
    margin-left: -80px;
}


/** Heights **/

.bc.hfull {
    height: 100%;
    max-height: 100%;
}

.bc.h30 {
    height: 30px;
    max-height: 30px;
}

.bc.hi30 {
    height: 30px;
    max-height: 30px !important;
    min-height: 30px !important;
}

.bc.h50 {
    height: 50px;
    max-height: 50px;
}

.bc.hi50 {
    height: 50px;
    max-height: 50px !important;
    min-height: 50px !important;
}

.bc.h90 {
    height: 90px;
    max-height: 90px;
}

.bc.hi90 {
    height: 90px;
    max-height: 90px !important;
    min-height: 90px !important;
}

.bc.h100 {
    height: 100px;
    max-height: 100px;
}

.bc.hi100 {
    height: 100px;
    max-height: 100px !important;
    min-height: 100px !important;
}

.bc.h120 {
    height: 120px;
    max-height: 120px;
}

.bc.hi120 {
    height: 120px;
    max-height: 120px !important;
    min-height: 120px !important;
}

.bc.h150 {
    height: 150px;
    max-height: 150px;
}

.bc.hi150 {
    height: 150px;
    max-height: 150px !important;
    min-height: 150px !important;
}

.bc.h180 {
    height: 180px;
    max-height: 180px;
}

.bc.hi180 {
    height: 180px;
    max-height: 180px !important;
    min-height: 180px !important;
}

.bc.h210 {
    height: 210px;
    max-height: 210px;
}

.bc.hi210 {
    height: 210px;
    max-height: 210px !important;
    min-height: 210px !important;
}

.bc.h240 {
    height: 240px;
    max-height: 240px;
}

.bc.hi240 {
    height: 240px;
    max-height: 240px !important;
    min-height: 240px !important;
}

.bc.h250 {
    height: 250px;
    max-height: 250px;
}

.bc.hi250 {
    height: 250px;
    max-height: 250px !important;
    min-height: 250px !important;
}

.bc.h260 {
    height: 260px;
    max-height: 260px;
}

.bc.hi260 {
    height: 260px;
    max-height: 260px !important;
    min-height: 260px !important;
}

.bc.h270 {
    height: 270px;
    max-height: 270px;
}

.bc.hi270 {
    height: 270px;
    max-height: 270px !important;
    min-height: 270px !important;
}

.bc.h280 {
    height: 280px;
    max-height: 280px;
}

.bc.hi280 {
    height: 280px;
    max-height: 280px !important;
    min-height: 280px !important;
}

.bc.h290 {
    height: 290px;
    max-height: 290px;
}

.bc.hi290 {
    height: 290px;
    max-height: 290px !important;
    min-height: 290px !important;
}

.bc.h300 {
    height: 300px;
    max-height: 300px;
}

.bc.hi300 {
    height: 300px;
    max-height: 300px !important;
    min-height: 300px !important;
}

.bc.h310 {
    height: 310px;
    max-height: 310px;
}

.bc.hi310 {
    height: 310px;
    max-height: 310px !important;
    min-height: 310px !important;
}

.bc.h320 {
    height: 320px;
    max-height: 320px;
}

.bc.hi320 {
    height: 320px;
    max-height: 320px !important;
    min-height: 320px !important;
}

.bc.h330 {
    height: 330px;
    max-height: 330px;
}

.bc.hi330 {
    height: 330px;
    max-height: 330px !important;
    min-height: 330px !important;
}

.bc.h360 {
    height: 360px;
    max-height: 360px;
}

.bc.hi360 {
    height: 360px;
    max-height: 360px !important;
    min-height: 360px !important;
}

.bc.h390 {
    height: 390px;
    max-height: 390px;
}

.bc.hi390 {
    height: 390px;
    max-height: 390px !important;
    min-height: 390px !important;
}

.bc.h420 {
    height: 420px;
    max-height: 420px;
}

.bc.hi420 {
    height: 420px;
    max-height: 420px !important;
    min-height: 420px !important;
}

.bc.h450 {
    height: 450px;
    max-height: 450px;
}

.bc.hi450 {
    height: 450px;
    max-height: 450px !important;
    min-height: 450px !important;
}

.bc.h460 {
    height: 460px;
    max-height: 460px;
}

.bc.hi460 {
    height: 460px;
    max-height: 460px !important;
    min-height: 460px !important;
}

.bc.h480 {
    height: 480px;
    max-height: 480px;
}

.bc.hi480 {
    height: 480px;
    max-height: 480px !important;
    min-height: 480px !important;
}

.bc.h510 {
    height: 510px;
    max-height: 510px;
}

.bc.hi510 {
    height: 510px;
    max-height: 510px !important;
    min-height: 510px !important;
}

.bc.h540 {
    height: 540px;
    max-height: 540px;
}

.bc.hi540 {
    height: 540px;
    max-height: 540px !important;
    min-height: 540px !important;
}

.bc.h550 {
    height: 550px;
    max-height: 550px;
}

.bc.hi550 {
    height: 550px;
    max-height: 550px !important;
    min-height: 550px !important;
}

.bc.h560 {
    height: 560px;
    max-height: 560px;
}

.bc.hi560 {
    height: 560px;
    max-height: 560px !important;
    min-height: 560px !important;
}

.bc.h570 {
    height: 570px;
    max-height: 570px;
}

.bc.hi570 {
    height: 570px;
    max-height: 570px !important;
    min-height: 570px !important;
}

.bc.h580 {
    height: 580px;
    max-height: 580px;
}

.bc.hi580 {
    height: 580px;
    max-height: 580px !important;
    min-height: 580px !important;
}

.bc.h590 {
    height: 590px;
    max-height: 590px;
}

.bc.hi590 {
    height: 590px;
    max-height: 590px !important;
    min-height: 590px !important;
}

.bc.h600 {
    height: 600px;
    max-height: 600px;
}

.bc.hi600 {
    height: 600px;
    max-height: 600px !important;
    min-height: 600px !important;
}

.bc.h630 {
    height: 630px;
    max-height: 630px;
}

.bc.hi630 {
    height: 630px;
    max-height: 630px !important;
    min-height: 630px !important;
}

.bc.h660 {
    height: 660px;
    max-height: 660px;
}

.bc.hi660 {
    height: 660px;
    max-height: 660px !important;
    min-height: 660px !important;
}

.bc.h690 {
    height: 690px;
    max-height: 690px;
}

.bc.hi690 {
    height: 690px;
    max-height: 690px !important;
    min-height: 690px !important;
}

.bc.h720 {
    height: 720px;
    max-height: 720px;
}

.bc.hi720 {
    height: 720px;
    max-height: 720px !important;
    min-height: 720px !important;
}

.bc.h750 {
    height: 750px;
    max-height: 750px;
}

.bc.hi750 {
    height: 750px;
    max-height: 750px !important;
    min-height: 750px !important;
}

.bc.h780 {
    height: 780px;
    max-height: 780px;
}

.bc.hi780 {
    height: 780px;
    max-height: 780px !important;
    min-height: 780px !important;
}


/** MIN Widths **/

.bc.mx-w4096 {
    max-width: 4096px;
}

.bc.mx-w2560 {
    max-width: 2560px;
}

.bc.mx-w1920 {
    max-width: 1920px;
}

.bc.mx-w1440 {
    max-width: 1440px;
}

.bc.mx-w1366 {
    max-width: 1366px;
}

.bc.mx-w1280 {
    max-width: 1280px;
}

.bc.mx-w1200 {
    max-width: 1200px;
}

.bc.mx-w1180 {
    max-width: 1180px;
}

.bc.mx-w1100 {
    max-width: 1100px;
}

.bc.mx-w1080 {
    max-width: 1080px;
}

.bc.mx-w1000 {
    max-width: 1000px;
}

.bc.mx-w990 {
    max-width: 990px;
}

.bc.mx-w950 {
    max-width: 950px;
}

.bc.mx-w790 {
    max-width: 790px;
}

.bc.mx-w760 {
    max-width: 760px;
}

.bc.mx-w720 {
    max-width: 720px;
}

.bc.mx-w660 {
    max-width: 660px;
}

.bc.mx-w600 {
    max-width: 600px;
}

.bc.mx-w560 {
    max-width: 560px;
}

.bc.mx-w510 {
    max-width: 510px;
}

.bc.mx-w520 {
    max-width: 520px;
}

.bc.mx-w460 {
    max-width: 460px;
}

.bc.mx-w420 {
    max-width: 420px;
}

.bc.mx-w410 {
    max-width: 410px;
}

.bc.mx-w380 {
    max-width: 380px;
}

.bc.mx-w360 {
    max-width: 360px;
}

.bc.mx-w310 {
    max-width: 310px;
}

.bc.mx-w320 {
    max-width: 320px;
}

.bc.mx-w260 {
    max-width: 260px;
}

.bc.mx-w220 {
    max-width: 220px;
}

.bc.mx-w210 {
    max-width: 210px;
}

.bc.mx-w160 {
    max-width: 160px;
}

.bc.mn-w4096 {
    min-width: 4096px;
}

.bc.mn-w2560 {
    min-width: 2560px;
}

.bc.mn-w1920 {
    min-width: 1920px;
}

.bc.mn-w1440 {
    min-width: 1440px;
}

.bc.mn-w1366 {
    min-width: 1366px;
}

.bc.mn-w1280 {
    min-width: 1280px;
}

.bc.mn-w1200 {
    min-width: 1200px;
}

.bc.mn-w1180 {
    min-width: 1180px;
}

.bc.mn-w1100 {
    min-width: 1100px;
}

.bc.mn-w1080 {
    min-width: 1080px;
}

.bc.mn-w1000 {
    min-width: 1000px;
}

.bc.mn-w990 {
    min-width: 990px;
}

.bc.mn-w950 {
    min-width: 950px;
}

.bc.mn-w790 {
    min-width: 790px;
}

.bc.mn-w760 {
    min-width: 760px;
}

.bc.mn-w720 {
    min-width: 720px;
}

.bc.mn-w660 {
    min-width: 660px;
}

.bc.mn-w600 {
    min-width: 600px;
}

.bc.mn-w560 {
    min-width: 560px;
}

.bc.mn-w510 {
    min-width: 510px;
}

.bc.mn-w520 {
    min-width: 520px;
}

.bc.mn-w460 {
    min-width: 460px;
}

.bc.mn-w420 {
    min-width: 420px;
}

.bc.mn-w410 {
    min-width: 410px;
}

.bc.mn-w380 {
    min-width: 380px;
}

.bc.mn-w360 {
    min-width: 360px;
}

.bc.mn-w310 {
    min-width: 310px;
}

.bc.mn-w320 {
    min-width: 320px;
}

.bc.mn-w260 {
    min-width: 260px;
}

.bc.mn-w220 {
    min-width: 220px;
}

.bc.mn-w210 {
    min-width: 210px;
}

.bc.mn-w160 {
    min-width: 160px;
}


/** MIN Heights **/

.bc.mx-h30 {
    max-height: 30px;
}

.bc.mx-h50 {
    max-height: 50px;
}

.bc.mx-h90 {
    max-height: 90px;
}

.bc.mx-h100 {
    max-height: 100px;
}

.bc.mx-h120 {
    max-height: 120px;
}

.bc.mx-h150 {
    max-height: 150px;
}

.bc.mx-h180 {
    max-height: 180px;
}

.bc.mx-h210 {
    max-height: 210px;
}

.bc.mx-h240 {
    max-height: 240px;
}

.bc.mx-h250 {
    max-height: 250px;
}

.bc.mx-h260 {
    max-height: 260px;
}

.bc.mx-h270 {
    max-height: 270px;
}

.bc.mx-h280 {
    max-height: 280px;
}

.bc.mx-h290 {
    max-height: 290px;
}

.bc.mx-h300 {
    max-height: 300px;
}

.bc.mx-h310 {
    max-height: 310px;
}

.bc.mx-h320 {
    max-height: 320px;
}

.bc.mx-h330 {
    max-height: 330px;
}

.bc.mx-h360 {
    max-height: 360px;
}

.bc.mx-h390 {
    max-height: 390px;
}

.bc.mx-h420 {
    max-height: 420px;
}

.bc.mx-h450 {
    max-height: 450px;
}

.bc.mx-h460 {
    max-height: 460px;
}

.bc.mx-h480 {
    max-height: 480px;
}

.bc.mx-h510 {
    max-height: 510px;
}

.bc.mx-h540 {
    max-height: 540px;
}

.bc.mx-h550 {
    max-height: 550px;
}

.bc.mx-h560 {
    max-height: 560px;
}

.bc.mx-h570 {
    max-height: 570px;
}

.bc.mx-h580 {
    max-height: 580px;
}

.bc.mx-h590 {
    max-height: 590px;
}

.bc.mx-h600 {
    max-height: 600px;
}

.bc.mx-h630 {
    max-height: 630px;
}

.bc.mx-h660 {
    max-height: 660px;
}

.bc.mx-h690 {
    max-height: 690px;
}

.bc.mx-h720 {
    max-height: 720px;
}

.bc.mx-h750 {
    max-height: 750px;
}

.bc.mx-h780 {
    max-height: 780px;
}

.bc.mn-h30 {
    min-height: 30px;
}

.bc.mn-h50 {
    min-height: 50px;
}

.bc.mn-h90 {
    min-height: 90px;
}

.bc.mn-h100 {
    min-height: 100px;
}

.bc.mn-h120 {
    min-height: 120px;
}

.bc.mn-h150 {
    min-height: 150px;
}

.bc.mn-h180 {
    min-height: 180px;
}

.bc.mn-h210 {
    min-height: 210px;
}

.bc.mn-h240 {
    min-height: 240px;
}

.bc.mn-h250 {
    min-height: 250px;
}

.bc.mn-h260 {
    min-height: 260px;
}

.bc.mn-h270 {
    min-height: 270px;
}

.bc.mn-h280 {
    min-height: 280px;
}

.bc.mn-h290 {
    min-height: 290px;
}

.bc.mn-h300 {
    min-height: 300px;
}

.bc.mn-h310 {
    min-height: 310px;
}

.bc.mn-h320 {
    min-height: 320px;
}

.bc.mn-h330 {
    min-height: 330px;
}

.bc.mn-h360 {
    min-height: 360px;
}

.bc.mn-h390 {
    min-height: 390px;
}

.bc.mn-h420 {
    min-height: 420px;
}

.bc.mn-h450 {
    min-height: 450px;
}

.bc.mn-h460 {
    min-height: 460px;
}

.bc.mn-h480 {
    min-height: 480px;
}

.bc.mn-h510 {
    min-height: 510px;
}

.bc.mn-h540 {
    min-height: 540px;
}

.bc.mn-h550 {
    min-height: 550px;
}

.bc.mn-h560 {
    min-height: 560px;
}

.bc.mn-h570 {
    min-height: 570px;
}

.bc.mn-h580 {
    min-height: 580px;
}

.bc.mn-h590 {
    min-height: 590px;
}

.bc.mn-h600 {
    min-height: 600px;
}

.bc.mn-h630 {
    min-height: 630px;
}

.bc.mn-h660 {
    min-height: 660px;
}

.bc.mn-h690 {
    min-height: 690px;
}

.bc.mn-h720 {
    min-height: 720px;
}

.bc.mn-h750 {
    min-height: 750px;
}

.bc.mn-h780 {
    min-height: 780px;
}


/*
/** split to 9 pices | mainly for [1*9, 3*3, 9*1] **/

.bc.grid-9>.nm-1 {
    width: 11.11111%;
    float: left;
}

.bc.grid-9>.nm-2 {
    width: 22.22222%;
    float: left;
}

.bc.grid-9>.nm-3 {
    width: 33.33333%;
    float: left;
}

.bc.grid-9>.nm-4 {
    width: 44.44444%;
    float: left;
}

.bc.grid-9>.nm-5 {
    width: 55.55556%;
    float: left;
}

.bc.grid-9>.nm-6 {
    width: 66.66667%;
    float: left;
}

.bc.grid-9>.nm-7 {
    width: 77.77778%;
    float: left;
}

.bc.grid-9>.nm-8 {
    width: 88.88889%;
    float: left;
}

.bc.grid-9>.nm-9 {
    width: 100%;
    float: left;
}


/*
/** split to 12 pices | for [1*12, 2*6, 3*4, 4*3, 6*2, 12*1] **/

.bc.grid-12>.nm-1 {
    width: 8.33333%;
    float: left;
}

.bc.grid-12>.nm-2 {
    width: 16.66667%;
    float: left;
}

.bc.grid-12>.nm-3 {
    width: 25%;
    float: left;
}

.bc.grid-12>.nm-4 {
    width: 33.33333%;
    float: left;
}

.bc.grid-12>.nm-5 {
    width: 41.66667%;
    float: left;
}

.bc.grid-12>.nm-6 {
    width: 50%;
    float: left;
}

.bc.grid-12>.nm-7 {
    width: 58.33333%;
    float: left;
}

.bc.grid-12>.nm-8 {
    width: 66.66667%;
    float: left;
}

.bc.grid-12>.nm-9 {
    width: 75%;
    float: left;
}

.bc.grid-12>.nm-10 {
    width: 83.33333%;
    float: left;
}

.bc.grid-12>.nm-11 {
    width: 91.66667%;
    float: left;
}

.bc.grid-12>.nm-12 {
    width: 100%;
    float: left;
}


/** split to 22 pices | for [2*11, 2*10+2, 3*7+1, 4*5+2, 5*4+2, 7*3+1] **/

.bc.grid-21>.nm-zero {
    width: 0px;
    float: left;
}

.bc.grid-21>.nm-quarter {
    width: 1.136363636363636%;
    float: left;
}

.bc.grid-21>.nm-third {
    width: 1.587301587301587%;
    float: left;
}

.bc.grid-21>.nm-half {
    width: 2.272727272727273%;
    float: left;
}

.bc.grid-21>.nm-1 {
    width: 4.7619%;
    float: left;
}

.bc.grid-21>.nm-2 {
    width: 9.52381%;
    float: left;
}

.bc.grid-21>.nm-3 {
    width: 14.28571%;
    float: left;
}

.bc.grid-21>.nm-4 {
    width: 19.04762%;
    float: left;
}

.bc.grid-21>.nm-5 {
    width: 23.80952%;
    float: left;
}

.bc.grid-21>.nm-6 {
    width: 28.57143%;
    float: left;
}

.bc.grid-21>.nm-7 {
    width: 33.33333%;
    float: left;
}

.bc.grid-21>.nm-8 {
    width: 38.09524%;
    float: left;
}

.bc.grid-21>.nm-9 {
    width: 42.85714%;
    float: left;
}

.bc.grid-21>.nm-10 {
    width: 47.61905%;
    float: left;
}

.bc.grid-21>.nm-11 {
    width: 52.38095%;
    float: left;
}

.bc.grid-21>.nm-12 {
    width: 57.14286%;
    float: left;
}

.bc.grid-21>.nm-13 {
    width: 61.90476%;
    float: left;
}

.bc.grid-21>.nm-14 {
    width: 66.66667%;
    float: left;
}

.bc.grid-21>.nm-15 {
    width: 71.42857%;
    float: left;
}

.bc.grid-21>.nm-16 {
    width: 76.19048%;
    float: left;
}

.bc.grid-21>.nm-17 {
    width: 80.95238%;
    float: left;
}

.bc.grid-21>.nm-18 {
    width: 85.71429%;
    float: left;
}

.bc.grid-21>.nm-19 {
    width: 90.47619%;
    float: left;
}

.bc.grid-21>.nm-20 {
    width: 95.2381%;
    float: left;
}

.bc.grid-21>.nm-21 {
    width: 100%;
    float: left;
}


/** split to 40 pices | for [2*11, 2*10+2, 3*7+1, 4*5+2, 5*4+2, 7*3+1] **/

.bc.grid-40>.nm-1 {
    width: 2.5%;
    float: left;
}

.bc.grid-40>.nm-2 {
    width: 5%;
    float: left;
}

.bc.grid-40>.nm-3 {
    width: 7.5%;
    float: left;
}

.bc.grid-40>.nm-4 {
    width: 10%;
    float: left;
}

.bc.grid-40>.nm-5 {
    width: 12.5%;
    float: left;
}

.bc.grid-40>.nm-6 {
    width: 15%;
    float: left;
}

.bc.grid-40>.nm-7 {
    width: 17.5%;
    float: left;
}

.bc.grid-40>.nm-8 {
    width: 20%;
    float: left;
}

.bc.grid-40>.nm-9 {
    width: 22.5%;
    float: left;
}

.bc.grid-40>.nm-10 {
    width: 25%;
    float: left;
}

.bc.grid-40>.nm-11 {
    width: 27.5%;
    float: left;
}

.bc.grid-40>.nm-12 {
    width: 30%;
    float: left;
}

.bc.grid-40>.nm-13 {
    width: 32.5%;
    float: left;
}

.bc.grid-40>.nm-14 {
    width: 35%;
    float: left;
}

.bc.grid-40>.nm-15 {
    width: 37.5%;
    float: left;
}

.bc.grid-40>.nm-16 {
    width: 40%;
    float: left;
}

.bc.grid-40>.nm-17 {
    width: 42.5%;
    float: left;
}

.bc.grid-40>.nm-18 {
    width: 45%;
    float: left;
}

.bc.grid-40>.nm-19 {
    width: 47.5%;
    float: left;
}

.bc.grid-40>.nm-20 {
    width: 50%;
    float: left;
}

.bc.grid-40>.nm-21 {
    width: 52.5%;
    float: left;
}

.bc.grid-40>.nm-22 {
    width: 55%;
    float: left;
}

.bc.grid-40>.nm-23 {
    width: 57.5%;
    float: left;
}

.bc.grid-40>.nm-24 {
    width: 60%;
    float: left;
}

.bc.grid-40>.nm-25 {
    width: 62.5%;
    float: left;
}

.bc.grid-40>.nm-26 {
    width: 65%;
    float: left;
}

.bc.grid-40>.nm-27 {
    width: 67.5%;
    float: left;
}

.bc.grid-40>.nm-28 {
    width: 70%;
    float: left;
}

.bc.grid-40>.nm-29 {
    width: 72.5%;
    float: left;
}

.bc.grid-40>.nm-30 {
    width: 75%;
    float: left;
}

.bc.grid-40>.nm-31 {
    width: 77.5%;
    float: left;
}

.bc.grid-40>.nm-32 {
    width: 80%;
    float: left;
}

.bc.grid-40>.nm-33 {
    width: 82.5%;
    float: left;
}

.bc.grid-40>.nm-34 {
    width: 85%;
    float: left;
}

.bc.grid-40>.nm-35 {
    width: 87.5%;
    float: left;
}

.bc.grid-40>.nm-36 {
    width: 90%;
    float: left;
}

.bc.grid-40>.nm-37 {
    width: 92.5%;
    float: left;
}

.bc.grid-40>.nm-38 {
    width: 95%;
    float: left;
}

.bc.grid-40>.nm-39 {
    width: 97.5%;
    float: left;
}

.bc.grid-40>.nm-40 {
    width: 100%;
    float: left;
}


/** Common Style Classes Initialization **/


/** Position **/

.bc.relative {
    position: relative;
}

.bc.absolute {
    position: absolute;
}

.bc.fixed {
    position: fixed;
}

.bc.hf-screen {
    width: 50%;
    height: 50%;
    bottom: 50%;
    left: 50%;
    overflow: visible;
}

.bc.hf-top {
    height: 50%;
    bottom: 50%;
    overflow: visible;
}

.bc.hf-right {
    width: 50%;
    left: 50%;
    overflow: visible;
}

.bc.hf-bottom {
    height: 50%;
    top: 50%;
    overflow: visible;
}

.bc.hf-left {
    width: 50%;
    right: 50%;
    overflow: visible;
}


/* Pulls */

.bc.pl-left {
    float: left;
}

.bc.pl-right {
    float: right;
}

.bc.absolute.pl-left {
    float: none;
    left: 0;
    top: 0;
}

.bc.absolute.pl-right {
    float: none;
    right: 0;
    top: 0;
}

.bc.pl-center {
    display: block;
    margin: auto;
}

.bc.pl-top {
    position: absolute;
    top: 0px;
}

.bc.pl-bottom {
    position: absolute;
    bottom: 0px;
}


/*
/** Paddings **/

.bc.pa-h02 {
    padding: 0 2px;
}

.bc.pa-h03 {
    padding: 0 3px;
}

.bc.pa-h04 {
    padding: 0 4px;
}

.bc.pa-05 {
    padding: 5px;
}

.bc.pa-h05 {
    padding: 0 5px;
}

.bc.pa-v05 {
    padding: 5px 0;
}

.bc.pa-h06 {
    padding: 0 6px;
}

.bc.pa-h07 {
    padding: 0 7px;
}

.bc.pa-h08 {
    padding: 0 8px;
}

.bc.pa-h09 {
    padding: 0 9px;
}

.bc.pa-10 {
    padding: 10px;
}

.bc.pa-h10 {
    padding: 0 10px;
}

.bc.pa-v10 {
    padding: 10px 0;
}

.bc.pa-15 {
    padding: 15px;
}

.bc.pa-h15 {
    padding: 0 15px;
}

.bc.pa-v15 {
    padding: 15px 0;
}

.bc.pa-20 {
    padding: 20px;
}

.bc.pa-h20 {
    padding: 0 20px;
}

.bc.pa-v20 {
    padding: 20px 0;
}

.bc.pa-25 {
    padding: 25px;
}

.bc.pa-h25 {
    padding: 0 25px;
}

.bc.pa-v25 {
    padding: 25px 0;
}

.bc.pa-none-top {
    padding-top: 0px;
}

.bc.pa-none-right {
    padding-right: 0px;
}

.bc.pa-none-bottom {
    padding-bottom: 0px;
}

.bc.pa-none-left {
    padding-left: 0px;
}

.bc.pa-none-vert {
    padding-top: 0px;
    padding-bottom: 0px;
}

.bc.pa-none-hor {
    padding-right: 0px;
    padding-left: 0px;
}


/*
/** Margins **/

.bc.ma-05 {
    margin: 5px;
}

.bc.ma-t05 {
    margin-top: 5px;
}

.bc.ma-r05 {
    margin-right: 5px;
}

.bc.ma-b05 {
    margin-bottom: 5px;
}

.bc.ma-l05 {
    margin-left: 5px;
}

.bc.ma-v05 {
    margin: 5px auto;
}

.bc.ma-h05 {
    margin: 0 5px;
}

.bc.ma-x05 {
    margin-right: -2.5px;
    margin-left: -2.5px;
}

.bc.ma-10 {
    margin: 10px;
}

.bc.ma-t10 {
    margin-top: 10px;
}

.bc.ma-r10 {
    margin-right: 10px;
}

.bc.ma-b10 {
    margin-bottom: 10px;
}

.bc.ma-l10 {
    margin-left: 10px;
}

.bc.ma-v10 {
    margin: 10px auto;
}

.bc.ma-h10 {
    margin: 0 10px;
}

.bc.ma-x10 {
    margin-right: -5px;
    margin-left: -5px;
}

.bc.ma-15 {
    margin: 15px;
}

.bc.ma-t15 {
    margin-top: 15px;
}

.bc.ma-r15 {
    margin-right: 15px;
}

.bc.ma-b15 {
    margin-bottom: 15px;
}

.bc.ma-l15 {
    margin-left: 15px;
}

.bc.ma-v15 {
    margin: 15px auto;
}

.bc.ma-h15 {
    margin: 0 15px;
}

.bc.ma-x15 {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.bc.ma-20 {
    margin: 20px;
}

.bc.ma-t20 {
    margin-top: 20px;
}

.bc.ma-r20 {
    margin-right: 20px;
}

.bc.ma-b20 {
    margin-bottom: 20px;
}

.bc.ma-l20 {
    margin-left: 20px;
}

.bc.ma-v20 {
    margin: 20px auto;
}

.bc.ma-h20 {
    margin: 0 20px;
}

.bc.ma-x20 {
    margin-right: -10px;
    margin-left: -10px;
}

.bc.ma-25 {
    margin: 25px;
}

.bc.ma-t25 {
    margin-top: 25px;
}

.bc.ma-r25 {
    margin-right: 25px;
}

.bc.ma-b25 {
    margin-bottom: 25px;
}

.bc.ma-l25 {
    margin-left: 25px;
}

.bc.ma-v25 {
    margin: 25px auto;
}

.bc.ma-h25 {
    margin: 0 25px;
}

.bc.ma-x25 {
    margin-right: -12.5px;
    margin-left: -12.5px;
}

.bc.ma-30 {
    margin: 30px;
}

.bc.ma-t30 {
    margin-top: 30px;
}

.bc.ma-r30 {
    margin-right: 30px;
}

.bc.ma-b30 {
    margin-bottom: 30px;
}

.bc.ma-l30 {
    margin-left: 30px;
}

.bc.ma-v30 {
    margin: 30px auto;
}

.bc.ma-h30 {
    margin: 0 30px;
}

.bc.ma-x30 {
    margin-right: -15px;
    margin-left: -15px;
}

.bc.ma-40 {
    margin: 40px;
}

.bc.ma-t40 {
    margin-top: 40px;
}

.bc.ma-r40 {
    margin-right: 40px;
}

.bc.ma-b40 {
    margin-bottom: 40px;
}

.bc.ma-l40 {
    margin-left: 40px;
}

.bc.ma-v40 {
    margin: 40px auto;
}

.bc.ma-h40 {
    margin: 0 40px;
}

.bc.ma-x40 {
    margin-right: -20px;
    margin-left: -20px;
}

.bc.ma-50 {
    margin: 50px;
}

.bc.ma-t50 {
    margin-top: 50px;
}

.bc.ma-r50 {
    margin-right: 50px;
}

.bc.ma-b50 {
    margin-bottom: 50px;
}

.bc.ma-l50 {
    margin-left: 50px;
}

.bc.ma-v50 {
    margin: 50px auto;
}

.bc.ma-h50 {
    margin: 0 50px;
}

.bc.ma-x50 {
    margin-right: -25px;
    margin-left: -25px;
}

.bc.ma-60 {
    margin: 60px;
}

.bc.ma-t60 {
    margin-top: 60px;
}

.bc.ma-r60 {
    margin-right: 60px;
}

.bc.ma-b60 {
    margin-bottom: 60px;
}

.bc.ma-l60 {
    margin-left: 60px;
}

.bc.ma-v60 {
    margin: 60px auto;
}

.bc.ma-h60 {
    margin: 0 60px;
}

.bc.ma-x60 {
    margin-right: -30px;
    margin-left: -30px;
}


/** List **/


/** Normal Screen **/

ul.bc.v-top>li,
ol.bc.v-top>li {
    display: block;
}

ul.bc.h-left>li,
ol.bc.h-left>li {
    float: left;
}

ul.bc.h-right>li,
ol.bc.h-right>li {
    float: right;
}

ul.bc.al-left>li,
ul.bc.al-right>li,
ul.bc.al-center>li,
ul.bc.al-just>li,
ol.bc.al-left>li,
ol.bc.al-right>li,
ol.bc.al-center>li,
ol.bc.al-just>li {
    display: inline;
}

ul.bc.al-left.blocks>li,
ul.bc.al-right.blocks>li,
ul.bc.al-center.blocks>li,
ul.bc.al-just.blocks>li,
ol.bc.al-left.blocks>li,
ol.bc.al-right.blocks>li,
ol.bc.al-center.blocks>li,
ol.bc.al-just.blocks>li {
    display: inline-block;
}


/* Widgets **/


/** Line Tops **/

.bc.line-top {
    height: 4px;
    border-top: 1px solid #EEE;
}

.bc.line-bottom {
    height: 4px;
    border-bottom: 1px solid #EEE;
}

.bc.line-double {
    height: 3px;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}


/** Blanks **/

.bc.blank-10 {
    background-color: transparent;
    margin: 5px auto;
}

.bc.blank-20 {
    background-color: transparent;
    margin: 10px auto;
}

.bc.blank-30 {
    background-color: transparent;
    margin: 15px auto;
}

.bc.blank-50 {
    background-color: transparent;
    margin: 25px auto;
}

.bc.blank-70 {
    background-color: transparent;
    margin: 35px auto;
}

.bc.blank-80 {
    background-color: transparent;
    margin: 40px auto;
}

.bc.blank-100 {
    background-color: transparent;
    margin: 50px auto;
}


/** Titles **/

.bc.tit-20 {
    line-height: 20px;
    padding: 0px 0px;
}

.bc.hasbg.tit-20 {
    line-height: 20px;
    padding: 0px 10px;
}

.bc.tit-30 {
    line-height: 30px;
    padding: 0px 0px;
}

.bc.hasbg.tit-30 {
    line-height: 30px;
    padding: 0px 10px;
}

.bc.tit-50 {
    line-height: 30px;
    padding: 10px 0px;
}

.bc.hasbg.tit-50 {
    line-height: 30px;
    padding: 10px 20px;
}

.bc.tit-70 {
    line-height: 40px;
    padding: 15px 0px;
}

.bc.hasbg.tit-70 {
    line-height: 40px;
    padding: 15px 25px;
}

.bc.tit-80 {
    line-height: 50px;
    padding: 15px 0px;
}

.bc.hasbg.tit-80 {
    line-height: 50px;
    padding: 15px 25px;
}


/** Context **/

.bc.nav-item.nav-hasson:hover {
    overflow: visible;
}

.bc.nav-item.nav-hasson .nav-ason {
    display: none;
    position: absolute;
}

.bc.nav-item.nav-hasson:hover .nav-ason {
    display: block;
}


/*# sourceMappingURL=see.css.map */