@charset "utf-8";

/*** MESSAGE ***/

msgcenter content msgroup {
    border-bottom: #EEE solid 1px;
}

msgcenter content msgroup:before {
    background: rgba(255, 255, 255, .4);
    color: #222;
}

msgcenter content msgroup message {
    background: rgba(0, 0, 0, .8);
    color: #FFF;
}

msgcenter content msgroup message icon {
    background: rgba(153, 153, 153, .1);
}

msgcenter content msgroup message v {
    background: rgba(204, 204, 204, .1);
}

msgcenter content msgroup message v msgtit {
    color: #FFD;
}

msgcenter alert msgbox {
    background: #EEE;
    box-shadow: rgba(0, 0, 0, .3) 0 0 8px;
}

msgcenter alert msgbox msgtit {
    border-bottom: #CCC 1px solid;
    background: #EEE;
}

msgcenter alert msgbox msgtit {
    color: #333;
}

msgcenter alert msgbox msgcon {
    color: #444;
}

msgcenter alert msgbox msgbtn click {
    border-top: #CCC 1px solid;
    background: #EEE;
    color: #333;
}

msgcenter alert msgbox msgbtn click:hover {
    background: #d4dfE3;
    color: #234;
}

msgcenter alert msgbox msgbtn click[data-exec=reject] {
    border-left: #CCC 1px solid;
    border-right: #CCC 1px solid;
}

msgcenter alert msgbox msgbtn click[data-exec=confirm] {
    border-right: #999 1px solid;
}

msgcenter notice {
    background: rgba(0, 0, 0, .8);
    color: #FFF;
}

msgcenter notice icon {
    background: rgba(153, 153, 153, .1);
}

msgcenter notice v {
    background: rgba(204, 204, 204, .1);
}

msgcenter notice v msgtit {
    color: #FFD;
}


/*** EVENTS ***/

kalendar {
    background: rgba(0, 0, 0, .75);
    box-shadow: -2px 2px 6px rgba(0, 0, 0, .4);
}

kalendar [name=month] {
    width: 360px;
    background: #222;
}

kalendar [name=month] el {
    color: #999;
}

kalendar [name=month] el:hover {
    background: #181818;
}

kalendar [name=week] {
    background: #222;
}

kalendar [name=week] list {
    color: #999;
}

kalendar [name=week] list:hover {
    background: #191919;
}

kalendar [name=week] list[today] {
    background: #191919;
}

kalendar [name=days] {
    background: #222;
}

kalendar [name=days] list {
    color: #999;
    background: #181818;
}

kalendar [name=days] list[events] {
    background: #522;
}

kalendar [name=days] list[today] {
    background: #663300;
}

kalendar [name=days] list[actived],
kalendar [name=days] list:hover {
    border: #ab3f45 1px solid;
}

kalendar [name=days] list[disabled] {
    color: #666;
    background: #282828;
}

kalendar [name=days] list[disabled]:hover {
    border: #282828 1px solid;
}

kalendar [name=setting] {
    background: #161616;
    color: #666;
}