@charset "utf-8";

/*********************************************
 ********** Block.JS SEE UI Framework **********
 **********   class _.see.NavMenu   **********
 *********************************************/

.bc.navmenu.gray,
.bc.navmenu .gray {
    >.menu-item {
        background-color: #999;
        color: #fff;
    }
    >.menu-item:hover {
        background-color: #666;
    }
}