@charset "utf-8";

/*** Appliaction ***/

windows application {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
}

windows application[state=on] {
    display: block;
}

windows application,
windows application[runstatus=sleeping],
windows application[runstatus=aftersleeping],
windows application[runstatus=returning] {
    top: 120%;
    opacity: 0;
}

windows application[runstatus=beforeworking],
windows application[runstatus=afterworking] {
    top: 0 !important;
    opacity: 1;
}

windows application[runstatus=working] {
    opacity: 1;
}

windows application[running][runstatus=working] {
    top: 0 !important;
}

windows application[runstatus=beforesleeping] {
    top: -120%;
    opacity: 0;
}

windows application[runstatus=beforeworking],
windows application[runstatus=beforesleeping],
windows application[runstatus=returning] {
    transition: top ease .5s, opacity ease .5s;
}


/**********************************************/

windows application>* {
    display: none;
}

windows application>oiml {
    display: block;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

windows application>oiml[type=right-status] {
    padding-left: 50px;
}

windows application>oiml>* {
    display: none;
}


/**********************************************/

windows application[scroll] {
    overflow-y: auto;
}

windows application::-webkit-scrollbar {
    display: none;
    position: absolute;
    width: 2px;
    height: 2px;
    margin: 0px;
    background-color: transparent;
}

windows application:hover::-webkit-scrollbar {
    display: block;
}

windows application::-webkit-scrollbar-button,
windows application::-webkit-scrollbar-track,
windows application::-webkit-scrollbar-track-piece,
windows application::-webkit-scrollbar-corner,
windows application::-webkit-resizer {
    display: none;
}

windows application::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 1px;
}


/*********************************************************************************
/*** APPS BODY ***/

windows application view {
    display: block;
    width: 100%;
    height: auto;
    max-width: 1000px;
    min-height: 350px;
    top: 0px;
    left: 50%;
    margin-top: 144px;
    margin-bottom: 40px;
    margin-left: -500px;
}

windows application view {
    background-color: transparent;
    overflow: hidden;
}

windows application[running][size=cover] view {
    display: block;
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: -50%;
    box-shadow: none;
}

windows application view[error],
windows application[size=cover] view[error] {
    padding: 20px;
}


/**********************************************/

windows application view weclome {
    display: block;
    width: 360px;
    height: 360px;
    text-align: center;
}

windows application view weclome[center] {
    margin: 0px auto;
}

windows application view weclome[left] {
    float: left;
}

windows application view weclome {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

windows application view weclome appname {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 30px;
}

windows application view weclome appvrsn {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
}

windows application view weclome spinner {
    display: block;
    width: 60px;
    height: 60px;
    margin: 100px auto;
}

windows application view poster[right] {
    display: block;
    width: 640px;
    height: 360px;
    float: right;
    overflow: hidden;
    text-align: center;
}

windows application view poster img {
    max-width: 640px;
    min-width: 640px;
    max-height: 360px;
    min-height: 350px;
    margin: auto;
}